In [2]:
# Getting all possible ActivityCode from Excel file -> df1

import pandas as pd

file_path = 'MaintenanceActivityTypes.xlsx'
sheet_name = 'in'

df1 = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl')
df1 = df1[df1['Ignore'] != 1]

df1_split = df1.assign(TechnicalObjects_split=df1['TechnicalObjects'].str.split(', ')).explode('TechnicalObjects_split')
df1_split
# df1_split[df1_split['TechnicalObjects_split'] == 'Yard Track']

,Index,ActivityCode,Maintenance Product,Frequency Required,Frequency Unit,TechnicalObjects,Ignore,Specifics,Unnamed: 8,Unnamed: 9,TechnicalObjects_split
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Main Line
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Passing Loop
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Loading Facility
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Unloading Facility
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Fork
...,...,...,...,...,...,...,...,...,...,...,...
158,2.0,"T24, T25",Section Insulator,260.0,Weeks,"Section Insulator, Insulators",NaN,NaN,NaN,NaN,Insulators
160,1.0,"T24, T25",Track and Overhead Geometry Vehicle,26.0,Weeks,Conductors/Wires,NaN,NaN,NaN,NaN,Conductors/Wires
161,1.0,"T24, T25",Height & Stagger Measurements,1.0,Year,Conductors/Wires,NaN,NaN,NaN,NaN,Conductors/Wires
162,1.0,"T24, T25",Earth Grid Inspections,260.0,Weeks,Earthing and Bonding,NaN,NaN,NaN,NaN,Earthing and Bonding
163,1.0,T24,SFC Cooling - 3 week Inspection,3.0,Weeks,SFC Cooling,NaN,NaN,NaN,NaN,SFC Cooling

In [3]:
df1_split[df1_split['TechnicalObjects_split'].isnull()]

Empty DataFrame
Columns: [Index, ActivityCode, Maintenance Product, Frequency Required, Frequency Unit, TechnicalObjects, Ignore, Specifics, Unnamed: 8, Unnamed: 9, TechnicalObjects_split]
Index: []

In [4]:
# Getting all FLOC from [vw_Dim_FunctionalLocation] where CompanyCode = 5000 -> df2_no_length

import pyodbc

sql_query = """
    SELECT DISTINCT
        FLOC_EARTX_TechnicalObjectTypeDescr     
    FROM [myANALYTICS_SP].[silver.dimension.enterprise.asset].[vw_Dim_FunctionalLocation]
    WHERE FLOC_BUKRS_CompanyCode = '5000'
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
asset_types_df = pd.read_sql_query(sql_query, conn)

# Display the DataFrame
asset_types_df

C:\Users\R893859\AppData\Local\Temp\ipykernel_18668\4118090717.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  asset_types_df = pd.read_sql_query(sql_query, conn)

    FLOC_EARTX_TechnicalObjectTypeDescr
0                      LV Power Systems
1                     Mechanical Signal
2                           DED Systems
3                       DC-DC Converter
4                                   CER
..                                  ...
252                 Rail Handling Crane
253                Ballast Cleaning Mch
254                       Wagon: Hopper
255                     Equip: Trimming
256                 Plant: Scissor Lift

[257 rows x 1 columns]

In [5]:
file_path = 'AssetsTypes.xlsx'
sheet_name = 'in'

asset_types_df = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl')

asset_types_df

    AssetCode             AssetType
0       10000         Track Objects
1       10001             Main Line
2       10003            Yard Track
3       10004      Loading Facility
4       10005    Unloading Facility
..        ...                   ...
252   WATRPMP    Water Pumping Unit
253   WEASTSY  Weather Station Syst
254  WHEELSET              Wheelset
255   WLDRFBT    Welder: Flash-Butt
256   WLDRGEN       Welder: General

[257 rows x 2 columns]

In [6]:
# Getting all FLOC from [vw_Dim_FunctionalLocation] where CompanyCode = 5000 -> df2_no_length

import pyodbc

sql_query = """
    SELECT
        FLOC_TPLNR_FunctionalLocationInternalKey,
        FLOC_STRNO_FunctionalLocation,
        FLOC_PLTXT_FunctionalLocationDescr,
        FLOC_TYPTX_FunctionalLocationCategoryDescr,
        FLOC_EQART_TechnicalObjectType,
        FLOC_EARTX_TechnicalObjectTypeDescr,
        FLOC_BUKRS_CompanyCode,
        FLOC_STORT_Location,
        FLOC_STORT_LocationDescr
    FROM [myANALYTICS_SP].[silver.dimension.enterprise.asset].[vw_Dim_FunctionalLocation]
	WHERE FLOC_BUKRS_CompanyCode = '5000'
	ORDER BY FLOC_STRNO_FunctionalLocation
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
df2_no_length = pd.read_sql_query(sql_query, conn)

# Display the DataFrame
df2_no_length

C:\Users\R893859\AppData\Local\Temp\ipykernel_18668\205187351.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2_no_length = pd.read_sql_query(sql_query, conn)

,FLOC_TPLNR_FunctionalLocationInternalKey,FLOC_STRNO_FunctionalLocation,FLOC_PLTXT_FunctionalLocationDescr,FLOC_TYPTX_FunctionalLocationCategoryDescr,FLOC_EQART_TechnicalObjectType,FLOC_EARTX_TechnicalObjectTypeDescr,FLOC_BUKRS_CompanyCode,FLOC_STORT_Location,FLOC_STORT_LocationDescr
0,?0100000000000387769,AC-01CH,CALLEMONDAH BLUE ROAD 1,Track,10003,Yard Track,5000,CA0089,Callemondah
1,?0100000000000365741,AC-01JN,Jilalan Provisioning 1,Track,10003,Yard Track,5000,JI0204,Jilalan
2,?0100000000000366347,AC-01JN-JNJN,Jilalan Provisioning 1,Track,999999,Lvl 3 Segmentation,5000,JI0204,Jilalan
3,?0100000000000377748,AC-01NA,NOGOA YARD BLUE ROAD TRACK 1,Track,10003,Yard Track,5000,NO0275,Nogoa-Yamala
4,?0100000000000387811,AC-01PA,PARANA BLUE ROAD MAINLINE,Track,10001,Main Line,5000,PA0289,Parana
...,...,...,...,...,...,...,...,...,...
174305,?0100000000000253349,WL000203,Baralaba WB Strain Gauge Equip 4.225Km,Telecommunications,40000,Wayleave Objects,5000,BA0032,Baralaba
174306,?0100000000000253351,WL000204,Baralaba WB Location Box 4.225Km,Telecommunications,40000,Wayleave Objects,5000,BA0032,Baralaba
174307,?0100000000000253372,WL000205,Baralaba WB Location Box 4.165Km,Telecommunications,40000,Wayleave Objects,5000,BA0032,Baralaba
174308,?0100000000000264822,WL999999,Electric WLNL 01CR BYAA16.652Km,Bridges and other Structures,40000,Wayleave Objects,5000,AR0021,Armuna-Buckley
174309,?0100000000000265380,XX100013-01,Bridge 9.280km TRACK 1,Bridges and other Structures,20010,Bridges,5000,,None

In [7]:
# Getting all FLOC length from [vw_Dim_FunctionalLocationLinear] --> df2_length_only
import pyodbc

sql_query = """
    SELECT DISTINCT
        FLOCLIN_TPLNR_FunctionalLocationInternalKey,
        FLOCLIN_LINEAR_LENGTH_LinearLengthKM
    FROM [myANALYTICS_SP].[silver.dimension.enterprise.asset].[vw_Dim_FunctionalLocationLinear]
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
df2_length_only = pd.read_sql_query(sql_query, conn)

# Display the DataFrame
df2_length_only

C:\Users\R893859\AppData\Local\Temp\ipykernel_18668\4020406567.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2_length_only = pd.read_sql_query(sql_query, conn)

,FLOCLIN_TPLNR_FunctionalLocationInternalKey,FLOCLIN_LINEAR_LENGTH_LinearLengthKM
0,?0100000000000292286,0.000
1,?0100000000000211439,0.000
2,?0100000000000359773,0.000
3,?0100000000000215158,0.000
4,?0100000000000355799,0.000
...,...,...
164521,?0100000000000196786,0.000
164522,?0100000000000201837,0.000
164523,?0100000000000205865,0.001
164524,?0100000000000214011,0.000
164525,?0100000000000278862,0.000

In [8]:
# Joining df2_no_length and df2_length_only to get df2
df2 = pd.merge(df2_no_length, df2_length_only, how='left', left_on='FLOC_TPLNR_FunctionalLocationInternalKey', right_on='FLOCLIN_TPLNR_FunctionalLocationInternalKey')

df2

,FLOC_TPLNR_FunctionalLocationInternalKey,FLOC_STRNO_FunctionalLocation,FLOC_PLTXT_FunctionalLocationDescr,FLOC_TYPTX_FunctionalLocationCategoryDescr,FLOC_EQART_TechnicalObjectType,FLOC_EARTX_TechnicalObjectTypeDescr,FLOC_BUKRS_CompanyCode,FLOC_STORT_Location,FLOC_STORT_LocationDescr,FLOCLIN_TPLNR_FunctionalLocationInternalKey,FLOCLIN_LINEAR_LENGTH_LinearLengthKM
0,?0100000000000387769,AC-01CH,CALLEMONDAH BLUE ROAD 1,Track,10003,Yard Track,5000,CA0089,Callemondah,?0100000000000387769,0.179
1,?0100000000000365741,AC-01JN,Jilalan Provisioning 1,Track,10003,Yard Track,5000,JI0204,Jilalan,?0100000000000365741,4.864
2,?0100000000000366347,AC-01JN-JNJN,Jilalan Provisioning 1,Track,999999,Lvl 3 Segmentation,5000,JI0204,Jilalan,?0100000000000366347,4.864
3,?0100000000000377748,AC-01NA,NOGOA YARD BLUE ROAD TRACK 1,Track,10003,Yard Track,5000,NO0275,Nogoa-Yamala,?0100000000000377748,1.604
4,?0100000000000387811,AC-01PA,PARANA BLUE ROAD MAINLINE,Track,10001,Main Line,5000,PA0289,Parana,?0100000000000387811,0.171
...,...,...,...,...,...,...,...,...,...,...,...
174305,?0100000000000253349,WL000203,Baralaba WB Strain Gauge Equip 4.225Km,Telecommunications,40000,Wayleave Objects,5000,BA0032,Baralaba,?0100000000000253349,0.000
174306,?0100000000000253351,WL000204,Baralaba WB Location Box 4.225Km,Telecommunications,40000,Wayleave Objects,5000,BA0032,Baralaba,?0100000000000253351,0.000
174307,?0100000000000253372,WL000205,Baralaba WB Location Box 4.165Km,Telecommunications,40000,Wayleave Objects,5000,BA0032,Baralaba,?0100000000000253372,0.000
174308,?0100000000000264822,WL999999,Electric WLNL 01CR BYAA16.652Km,Bridges and other Structures,40000,Wayleave Objects,5000,AR0021,Armuna-Buckley,?0100000000000264822,0.000
174309,?0100000000000265380,XX100013-01,Bridge 9.280km TRACK 1,Bridges and other Structures,20010,Bridges,5000,,None,?0100000000000265380,0.000

In [11]:
# # Getting average cost for each ActivityCode from myANALYTIC --> df3
# sql_query = """
	# SELECT
	# 	ILART_MaintenanceActivityTypeID,
	# 	AVG(ActualCost) AS 'AverageCost'
	# FROM (
	# 	SELECT
	# 		ILART_MaintenanceActivityTypeID,
	# 		ActualCost
	# 	FROM [myANALYTICS_SP].[silver.fact.enterprise.asset].[vw_Fact_WorkOrder]
	# 	WHERE
	# 		BUKRS_CompanyCodeID = '5000'
	# 		AND ActualCost > 0
	# ) AS SubQuery
	# GROUP BY ILART_MaintenanceActivityTypeID
# """

# # Define your server name
# server_name = 'myanalytics.aurizon.com.au'

# # Establish a connection using Windows Authentication
# conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# # Execute the SQL query and load the result into a pandas DataFrame
# df3 = pd.read_sql_query(sql_query, conn)

# file_path = 'csv/average_cost_per_maint_activity_all.csv'
# df3.to_csv(file_path, index=True)

# # Display the DataFrame
# df3.head(10)

In [12]:
# df3[df3['ILART_MaintenanceActivityTypeID'] == 'C13']

In [13]:
# df3 = pd.read_pickle('pkl/df3.pkl')
# df3

In [9]:
# Joining df1_split and df2, so that we have the all the possible Maintenance Product/Activity,... for each FLOC -> result_df
result_df = pd.merge(df2, df1_split, how='left', left_on='FLOC_EARTX_TechnicalObjectTypeDescr', right_on='TechnicalObjects_split')


# ## split result_df into result_df_split, join with df3 to get the average cost for each activity -> add a new AverageCost column to result_df

# # Splitting result_df.ActivityCode into separate rows
# result_df_split = result_df.assign(ActivityCode_split=result_df['ActivityCode'].str.split(',')).explode('ActivityCode_split')
# # Joining result_df_split and df3 based on ActivityCode_split and ILART_MaintenanceActivityTypeID
# merge_df2 = pd.merge(result_df_split, df3, how='left', left_on='ActivityCode_split', right_on='ILART_MaintenanceActivityTypeID')

# # Calculating the average cost for each row in df1
# average_cost_per_row = merge_df2.groupby(result_df_split.index)['AverageCost'].mean()

# Assigning the average cost to df1
result_df['AverageCost'] = 1

result_df[['FLOC_STRNO_FunctionalLocation', 'FLOC_EARTX_TechnicalObjectTypeDescr', 'TechnicalObjects_split', 'Maintenance Product', 'Frequency Required', 'Frequency Unit', 'FLOCLIN_LINEAR_LENGTH_LinearLengthKM', 'ActivityCode', 'AverageCost', 'FLOC_STORT_LocationDescr']].sort_values(by='FLOC_STRNO_FunctionalLocation')

,FLOC_STRNO_FunctionalLocation,FLOC_EARTX_TechnicalObjectTypeDescr,TechnicalObjects_split,Maintenance Product,Frequency Required,Frequency Unit,FLOCLIN_LINEAR_LENGTH_LinearLengthKM,ActivityCode,AverageCost,FLOC_STORT_LocationDescr
0,AC-01CH,Yard Track,Yard Track,Ballast Undercutting,600.0,MNT,0.179,"C01, C14, C20, C02",1,Callemondah
1,AC-01CH,Yard Track,Yard Track,Track Resurfacing,50.0,MGT,0.179,C19,1,Callemondah
2,AC-01CH,Yard Track,Yard Track,Track Geometry Recording,6.0,Month,0.179,C29,1,Callemondah
3,AC-01CH,Yard Track,Yard Track,Track Inspections,192.0,Hours,0.179,C50,1,Callemondah
4,AC-01CH,Yard Track,Yard Track,Track Inspections,48.0,Month,0.179,C50,1,Callemondah
...,...,...,...,...,...,...,...,...,...,...
204349,WL000203,Wayleave Objects,NaN,NaN,NaN,NaN,0.000,NaN,1,Baralaba
204350,WL000204,Wayleave Objects,NaN,NaN,NaN,NaN,0.000,NaN,1,Baralaba
204351,WL000205,Wayleave Objects,NaN,NaN,NaN,NaN,0.000,NaN,1,Baralaba
204352,WL999999,Wayleave Objects,NaN,NaN,NaN,NaN,0.000,NaN,1,Armuna-Buckley
204353,XX100013-01,Bridges,NaN,NaN,NaN,NaN,0.000,NaN,1,None

In [10]:
print(f'amount before filter: {len(result_df['Maintenance Product'])}')

result_df.drop(result_df[(
    (result_df['Maintenance Product'] == 'Rail Lubrication') &
    (result_df['Frequency Required'] == 7) &
    (result_df['Frequency Unit'] == 'Days') &
    (result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') &
    (~result_df['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') & ~result_df['FLOC_STRNO_FunctionalLocation'].str.startswith('GA'))
)].index, axis = 0, inplace=True)

result_df.drop(result_df[(
    (result_df['Maintenance Product'] == 'Rail Lubrication') &
    (result_df['Frequency Required'] == 14) &
    (result_df['Frequency Unit'] == 'Days') &
    (result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') &
    (~result_df['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') & ~result_df['FLOC_STRNO_FunctionalLocation'].str.startswith('NL'))
)].index, axis = 0, inplace=True)

result_df.drop(result_df[(
    (result_df['Maintenance Product'] == 'Rail Lubrication') &
    (result_df['Frequency Required'] == 14) &
    (result_df['Frequency Unit'] == 'Days') &
    ((result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Unloading Facility') | (result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility')) &
    (~result_df['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') & ~result_df['FLOC_STRNO_FunctionalLocation'].str.startswith('GA'))
)].index, axis = 0, inplace=True)

result_df.drop(result_df[(
    (result_df['Maintenance Product'] == 'Rail Lubrication') &
    (result_df['Frequency Required'] == 28) &
    (result_df['Frequency Unit'] == 'Days') &
    ((result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Unloading Facility') | (result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility')) &
    (~result_df['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') & ~result_df['FLOC_STRNO_FunctionalLocation'].str.startswith('NL'))
)].index, axis = 0, inplace=True)


result_df.drop(result_df[(
    (result_df['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (result_df['Frequency Required'] == 1) &
    (result_df['Frequency Unit'] == 'Year') &
    ((result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') | (result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Passing Loop') | (result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility') | (result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Fork')) &
    (~result_df['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') & ~result_df['FLOC_STRNO_FunctionalLocation'].str.startswith('GA'))
)].index, axis = 0, inplace=True)

result_df.drop(result_df[(
    (result_df['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
    (result_df['Frequency Required'] == 2) &
    (result_df['Frequency Unit'] == 'Year') &
    ((result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') | (result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Passing Loop') | (result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility') | (result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Fork')) &
    (~result_df['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') & ~result_df['FLOC_STRNO_FunctionalLocation'].str.startswith('NL'))
)].index, axis = 0, inplace=True)


result_df.drop(result_df[(
    (result_df['Maintenance Product'] == 'Track Geometry Recording') &
    (result_df['Frequency Required'] == 3) &
    (result_df['Frequency Unit'] == 'Month') &
    ((result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') | (result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Passing Loop')) &
    (~result_df['FLOC_STRNO_FunctionalLocation'].str.startswith('BW-01ML') & ~result_df['FLOC_STRNO_FunctionalLocation'].str.startswith('BW-02ML'))
)].index, axis = 0, inplace=True)


result_df.drop(result_df[(
    (result_df['Maintenance Product'] == 'Track Inspections') &
    (result_df['Frequency Required'] == 96) &
    (result_df['Frequency Unit'] == 'Hours') &
    ((result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') | (result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Passing Loop')) &
    (~result_df['FLOC_STRNO_FunctionalLocation'].str.startswith('BW-01ML') & ~result_df['FLOC_STRNO_FunctionalLocation'].str.startswith('BW-02ML'))
)].index, axis = 0, inplace=True)

print(f'amount after filter: {len(result_df['Maintenance Product'])}')

amount before filter: 204354
amount after filter: 203860

In [11]:
# This is to test how many flocs we have linked with maintenance activities, note that we have ~174,000 in total

test1 = result_df[result_df['TechnicalObjects_split'].notnull()]
len(test1['FLOC_TPLNR_FunctionalLocationInternalKey'].unique())

46811

In [12]:
t = result_df[result_df['Maintenance Product'] == "Rail Lubrication"]['FLOC_STRNO_FunctionalLocation'].unique()
t

array(['BW-01BL', 'BW-02BL', 'BW-03BL', 'BW-04BL', 'BW-05ML', 'BW-06ML',
       'BW-07ML', 'BW-08ML', 'BW-09ML', 'BW-10ML', 'BW-11BL', 'BW-11ML',
       'BW-12BL', 'BW-12ML', 'BW-13BL', 'BW-13ML', 'BW-14ML', 'BW-15ML',
       'BW-16ML', 'BW-17ML', 'BW-18ML', 'BW-20ML', 'BW-23ML', 'BW-35ML',
       'BW-90XX', 'GA-01BA', 'GA-01BD', 'GA-02BA', 'GA-02BD', 'GA-03BA',
       'GA-03BD', 'GA-03ML', 'GA-04BA', 'GA-04BD', 'GA-04ML', 'GA-05BA',
       'GA-05BD', 'GA-05ML', 'GA-06ML', 'GA-07ML', 'GA-08ML', 'GA-09ML',
       'GA-10ML', 'GA-11ML', 'GA-12ML', 'GA-13ML', 'GA-14ML', 'GA-15ML',
       'GA-16ML', 'GA-17ML', 'GA-18ML', 'GA-19ML', 'GA-20ML', 'GA-21ML',
       'GA-22ML', 'GA-24ML', 'GA-29ML', 'GA-50ML', 'MA-01BA', 'MA-01BD',
       'MA-01ML', 'MA-02ML', 'MA-03ML', 'MA-04ML', 'MA-07ML', 'MA-16ML',
       'NL-01BL', 'NL-01ML', 'NL-02BL', 'NL-02ML', 'NL-03ML', 'NL-04ML',
       'NL-05ML', 'NL-06ML', 'NL-07ML', 'NL-16ML'], dtype=object)

In [95]:
# ## Filter for Maintenance Product = Rail Lubrication
# print(f'amount before filter: {len(result_df[result_df['Maintenance Product'] == "Rail Lubrication"])}')

# # 7 days
# # If a floc start with BW, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Main Line -> 7 days
# df_filtered = result_df[~(
#     result_df['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') &
#     (result_df['Maintenance Product'] == 'Rail Lubrication') &
#     (result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') &
#     (result_df['Frequency Required'] != 7)
# )]
# # If a floc start with GA, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Main Line -> 7 days
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('GA') &
#     (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') &
#     (df_filtered['Frequency Required'] != 7)
# )]

# # 14 days
# # If a floc start with MA, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Main Line -> 14 days
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') &
#     (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') &
#     (df_filtered['Frequency Required'] != 14)
# )]
# # If a floc start with NL, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Main Line -> 14 days
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('NL') &
#     (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') &
#     (df_filtered['Frequency Required'] != 14)
# )]
# # If a floc start with BW, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Unloading Facility -> 14 days
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') &
#     (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Unloading Facility') &
#     (df_filtered['Frequency Required'] != 14)
# )]
# # If a floc start with GA, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Unloading Facility -> 14 days
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('GA') &
#     (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Unloading Facility') &
#     (df_filtered['Frequency Required'] != 14)
# )]
# # If a floc start with BW, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Loading Facility -> 14 days
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') &
#     (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility') &
#     (df_filtered['Frequency Required'] != 14)
# )]
# # If a floc start with GA, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Loading Facility -> 14 days
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('GA') &
#     (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility') &
#     (df_filtered['Frequency Required'] != 14)
# )]

# # 28 days
# # If a floc start with MA, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Unloading Facility -> 28 days
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') &
#     (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Unloading Facility') &
#     (df_filtered['Frequency Required'] != 28)
# )]
# # If a floc start with NL, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Unloading Facility -> 28 days
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('NL') &
#     (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Unloading Facility') &
#     (df_filtered['Frequency Required'] != 28)
# )]
# # If a floc start with MA, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Loading Facility -> 28 days
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') &
#     (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility') &
#     (df_filtered['Frequency Required'] != 28)
# )]
# # If a floc start with NL, and Maintenance Product is Rail Lubrication, and TechnicalObjects is Loading Facility -> 28 days
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('NL') &
#     (df_filtered['Maintenance Product'] == 'Rail Lubrication') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility') &
#     (df_filtered['Frequency Required'] != 28)
# )]

# print(f'amount after filter: {len(df_filtered[df_filtered['Maintenance Product'] == "Rail Lubrication"])}')

amount before filter: 200
amount after filter: 124

In [16]:
# ## Filter for Maintenance Product = GPR / PVC Inspecting and Testing
# print(f'amount before filter: {len(result_df[result_df['Maintenance Product'] == "GPR / PVC Inspecting and Testing"])}')

# # 1 year
# # If a floc start with BW, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Main Line -> 1 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') &
#     (df_filtered['Frequency Required'] != 1)
# )]
# # If a floc start with GA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Main Line -> 1 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('GA') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') &
#     (df_filtered['Frequency Required'] != 1)
# )]
# # If a floc start with BW, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Passing Loop -> 1 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Passing Loop') &
#     (df_filtered['Frequency Required'] != 1)
# )]
# # If a floc start with GA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Passing Loop -> 1 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('GA') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Passing Loop') &
#     (df_filtered['Frequency Required'] != 1)
# )]
# # If a floc start with BW, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Loading Facility -> 1 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility') &
#     (df_filtered['Frequency Required'] != 1)
# )]
# # If a floc start with GA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Loading Facility -> 1 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('GA') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility') &
#     (df_filtered['Frequency Required'] != 1)
# )]
# # If a floc start with BW, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Unloading Facility -> 1 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Unloading Facility') &
#     (df_filtered['Frequency Required'] != 1)
# )]
# # If a floc start with GA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Unloading Facility -> 1 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('GA') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Unloading Facility') &
#     (df_filtered['Frequency Required'] != 1)
# )]
# # If a floc start with BW, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Fork -> 1 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('BW') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Fork') &
#     (df_filtered['Frequency Required'] != 1)
# )]
# # If a floc start with GA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Fork -> 1 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('GA') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Fork') &
#     (df_filtered['Frequency Required'] != 1)
# )]

# # 2 year
# # If a floc start with MA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Main Line -> 2 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') &
#     (df_filtered['Frequency Required'] != 2)
# )]
# # If a floc start with NL, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Main Line -> 2 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('NL') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line') &
#     (df_filtered['Frequency Required'] != 2)
# )]
# # If a floc start with MA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Passing Loop -> 2 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Passing Loop') &
#     (df_filtered['Frequency Required'] != 2)
# )]
# # If a floc start with NL, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Passing Loop -> 2 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('NL') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Passing Loop') &
#     (df_filtered['Frequency Required'] != 2)
# )]
# # If a floc start with MA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Loading Facility -> 2 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility') &
#     (df_filtered['Frequency Required'] != 2)
# )]
# # If a floc start with NL, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Loading Facility -> 2 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('NL') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Loading Facility') &
#     (df_filtered['Frequency Required'] != 2)
# )]
# # If a floc start with MA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Unloading Facility -> 2 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Unloading Facility') &
#     (df_filtered['Frequency Required'] != 2)
# )]
# # If a floc start with NL, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Unloading Facility -> 2 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('NL') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Unloading Facility') &
#     (df_filtered['Frequency Required'] != 2)
# )]
# # If a floc start with MA, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Fork -> 2 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('MA') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Fork') &
#     (df_filtered['Frequency Required'] != 2)
# )]
# # If a floc start with NL, and Maintenance Product is GPR / PVC Inspecting and Testing, and TechnicalObjects is Fork -> 2 year
# df_filtered = df_filtered[~(
#     df_filtered['FLOC_STRNO_FunctionalLocation'].str.startswith('NL') &
#     (df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') &
#     (df_filtered['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Fork') &
#     (df_filtered['Frequency Required'] != 2)
# )]

# print(f'amount after filter: {len(df_filtered[df_filtered['Maintenance Product'] == "GPR / PVC Inspecting and Testing"])}')

amount before filter: 344
amount after filter: 203

In [15]:
# df_filtered.to_pickle("asset_maintenance_all_2024_03_15.pkl")

# test2_df = df_filtered[(df_filtered['Maintenance Product'] == 'GPR / PVC Inspecting and Testing') & (result_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Main Line')]
test_df_all = result_df[['FLOC_STRNO_FunctionalLocation', 'FLOC_EARTX_TechnicalObjectTypeDescr', 'TechnicalObjects_split', 'Maintenance Product', 'Frequency Required', 'Frequency Unit', 'FLOCLIN_LINEAR_LENGTH_LinearLengthKM', 'ActivityCode', 'AverageCost', 'FLOC_STORT_LocationDescr']]
# test_df = test_df[test_df['Frequency Required'].notnull()]
test_df_all.to_pickle("pkl/asset_maintenance_all_2024_05_13.pkl")

# test_df_all.head(10)
test_df_all[['FLOC_STRNO_FunctionalLocation', 'FLOC_EARTX_TechnicalObjectTypeDescr', 'TechnicalObjects_split', 'Maintenance Product', 'Frequency Required', 'Frequency Unit', 'FLOCLIN_LINEAR_LENGTH_LinearLengthKM', 'ActivityCode', 'AverageCost', 'FLOC_STORT_LocationDescr']].sort_values(by='FLOC_STRNO_FunctionalLocation')

,FLOC_STRNO_FunctionalLocation,FLOC_EARTX_TechnicalObjectTypeDescr,TechnicalObjects_split,Maintenance Product,Frequency Required,Frequency Unit,FLOCLIN_LINEAR_LENGTH_LinearLengthKM,ActivityCode,AverageCost,FLOC_STORT_LocationDescr
0,AC-01CH,Yard Track,Yard Track,Ballast Undercutting,600.0,MNT,0.179,"C01, C14, C20, C02",1,Callemondah
1,AC-01CH,Yard Track,Yard Track,Track Resurfacing,50.0,MGT,0.179,C19,1,Callemondah
2,AC-01CH,Yard Track,Yard Track,Track Geometry Recording,6.0,Month,0.179,C29,1,Callemondah
3,AC-01CH,Yard Track,Yard Track,Track Inspections,192.0,Hours,0.179,C50,1,Callemondah
4,AC-01CH,Yard Track,Yard Track,Track Inspections,48.0,Month,0.179,C50,1,Callemondah
...,...,...,...,...,...,...,...,...,...,...
214953,WL000204,Wayleave Objects,NaN,NaN,NaN,NaN,0.000,NaN,1,Baralaba
214954,WL000205,Wayleave Objects,NaN,NaN,NaN,NaN,0.000,NaN,1,Baralaba
214955,WL999999,Wayleave Objects,NaN,NaN,NaN,NaN,0.000,NaN,1,Armuna-Buckley
214956,XX100013-01,Bridges,Bridges,Inspections,NaN,Condition Dependent,0.000,B50,1,None
214957,XX100013-01,Bridges,Bridges,Pest & Vegetation Control,NaN,Included in maintenance of that structure,0.000,C67,1,None

In [ ]:
t = test_df_all['FLOC_STRNO_FunctionalLocation'].unique()

In [19]:
len(test_df_all['FLOC_STRNO_FunctionalLocation'].unique())

174215

In [19]:
t = test_df_all

In [20]:
import numpy as np

missing_acitivies = [
    'Over Height Level Crossing Protection_F1',
    'Over Height Level Crossing Protection_F2',
    'Over Height Level Crossing Protection_F3',
    'Coal Dust Monitors'
]

num_to_generate = round(t.shape[0]/ t['Maintenance Product'].nunique())

test1 = [f'random_floc_{num}_Over Height Level Crossing Protection_F1' for num in range(num_to_generate)]
test2 = [f'random_floc_{num}_Over Height Level Crossing Protection_F2' for num in range(num_to_generate)]
test3 = [f'random_floc_{num}_Over Height Level Crossing Protection_F3' for num in range(num_to_generate)]
test4 = [f'random_floc_{num}_Coal Dust Monitors' for num in range(num_to_generate)]

random_df1 = pd.DataFrame({
    'FLOC_STRNO_FunctionalLocation': test1,
    'FLOC_EARTX_TechnicalObjectTypeDescr': np.nan,  # All values are NaN
    'Maintenance Product': 'Over Height Level Crossing Protection',
    'Frequency Required': 1,
    'Frequency Unit': 'Days',
    'FLOCLIN_LINEAR_LENGTH_LinearLengthKM': np.nan,
    'ActivityCode': 'T40, T41',
    'AverageCost': np.nan,
    'FLOC_STORT_LocationDescr': np.nan
})

random_df2 = pd.DataFrame({
    'FLOC_STRNO_FunctionalLocation': test2,
    'FLOC_EARTX_TechnicalObjectTypeDescr': np.nan,  # All values are NaN
    'Maintenance Product': 'Over Height Level Crossing Protection',
    'Frequency Required': 30,
    'Frequency Unit': 'Days',
    'FLOCLIN_LINEAR_LENGTH_LinearLengthKM': np.nan,
    'ActivityCode': 'T40, T41',
    'AverageCost': np.nan,
    'FLOC_STORT_LocationDescr': np.nan
})

random_df3 = pd.DataFrame({
    'FLOC_STRNO_FunctionalLocation': test3,
    'FLOC_EARTX_TechnicalObjectTypeDescr': np.nan,  # All values are NaN
    'Maintenance Product': 'Over Height Level Crossing Protection',
    'Frequency Required': 90,
    'Frequency Unit': 'Days',
    'FLOCLIN_LINEAR_LENGTH_LinearLengthKM': np.nan,
    'ActivityCode': 'T40, T41',
    'AverageCost': np.nan,
    'FLOC_STORT_LocationDescr': np.nan
})

random_df4 = pd.DataFrame({
    'FLOC_STRNO_FunctionalLocation': test4,
    'FLOC_EARTX_TechnicalObjectTypeDescr': np.nan,  # All values are NaN
    'Maintenance Product': 'Coal Dust Monitors',
    'Frequency Required': 3,
    'Frequency Unit': 'Months',
    'FLOCLIN_LINEAR_LENGTH_LinearLengthKM': np.nan,
    'ActivityCode': 'T40, T41',
    'AverageCost': 1,
    'FLOC_STORT_LocationDescr': np.nan
})
random_df4

,FLOC_STRNO_FunctionalLocation,FLOC_EARTX_TechnicalObjectTypeDescr,Maintenance Product,Frequency Required,Frequency Unit,FLOCLIN_LINEAR_LENGTH_LinearLengthKM,ActivityCode,AverageCost,FLOC_STORT_LocationDescr
0,random_floc_0_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN
1,random_floc_1_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN
2,random_floc_2_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN
3,random_floc_3_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN
4,random_floc_4_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN
...,...,...,...,...,...,...,...,...,...
3332,random_floc_3332_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN
3333,random_floc_3333_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN
3334,random_floc_3334_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN
3335,random_floc_3335_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN
3336,random_floc_3336_Coal Dust Monitors,NaN,Coal Dust Monitors,3,Months,NaN,"T40, T41",1,NaN

In [21]:
union_df = pd.concat([test_df_all, random_df1, random_df2, random_df3, random_df4], ignore_index=True)
# union_df['AverageCost'] = 1


missing1 = union_df[union_df['Maintenance Product'].isnull()]['FLOC_EARTX_TechnicalObjectTypeDescr'].unique()
# union_df[union_df['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Cess Drain']

union_df = union_df[union_df['Maintenance Product'].notnull()].copy()

union_df.to_pickle("pkl/asset_maintenance_all_2024_04_26.pkl")

In [23]:
union_df

,FLOC_STRNO_FunctionalLocation,FLOC_EARTX_TechnicalObjectTypeDescr,TechnicalObjects_split,Maintenance Product,Frequency Required,Frequency Unit,FLOCLIN_LINEAR_LENGTH_LinearLengthKM,ActivityCode,AverageCost,FLOC_STORT_LocationDescr
0,AC-01CH,Yard Track,Yard Track,Ballast Undercutting,600.0,MNT,0.179,"C01, C14, C20, C02",1.0,Callemondah
1,AC-01CH,Yard Track,Yard Track,Track Resurfacing,50.0,MGT,0.179,C19,1.0,Callemondah
2,AC-01CH,Yard Track,Yard Track,Track Geometry Recording,6.0,Month,0.179,C29,1.0,Callemondah
3,AC-01CH,Yard Track,Yard Track,Track Inspections,192.0,Hours,0.179,C50,1.0,Callemondah
4,AC-01CH,Yard Track,Yard Track,Track Inspections,48.0,Month,0.179,C50,1.0,Callemondah
...,...,...,...,...,...,...,...,...,...,...
226918,random_floc_3332_Coal Dust Monitors,NaN,NaN,Coal Dust Monitors,3.0,Months,NaN,"T40, T41",1.0,NaN
226919,random_floc_3333_Coal Dust Monitors,NaN,NaN,Coal Dust Monitors,3.0,Months,NaN,"T40, T41",1.0,NaN
226920,random_floc_3334_Coal Dust Monitors,NaN,NaN,Coal Dust Monitors,3.0,Months,NaN,"T40, T41",1.0,NaN
226921,random_floc_3335_Coal Dust Monitors,NaN,NaN,Coal Dust Monitors,3.0,Months,NaN,"T40, T41",1.0,NaN
226922,random_floc_3336_Coal Dust Monitors,NaN,NaN,Coal Dust Monitors,3.0,Months,NaN,"T40, T41",1.0,NaN

In [24]:
missing_asset_types = ['Track Objects',
'Crossovers',
'Track Signage',
'Track Angle',
'Turnout Track',
'Access Road',
'Corridor Access Pt',
'Pads',
'Platforms',
'Lubricator',
'GIJ',
'Balise',
'Structure Track',
'Lvl6 Structure Group',
'Lvl7 Structure Comp',
'LX_CONTROLS',
'LX_RAIL_DETAILS',
'LX_ROAD_DETAILS',
'LX_VISIBILITY',
'LX_OTHER_DETAILS',
'Wayleave Objects',
'Loadout/Unloader',
'AC/DC Track',
'Axle Counter Detecti',
'Axle Counter Evaluat',
'Cathodic Protection',
'DC Track',
'Impulse Track',
'Interface Equipment',
'Jointless Track',
'Logical Track',
'Points Locking',
'Points Remote Contro',
'Westinghouse Telemet',
'Next Gen Telemetry',
'Depot',
'2M VF Mux',
'8M Mux',
'Acoustic Detector Sy',
'Automatic Brake Exam',
'Automatic Equipment',
'CCTV',
'Control Equipment',
'DMR LAN Equipment',
'ECO',
'Fuel Cell Systems',
'Management / Supervi',
'Wireless Access Pt',
'Network Gateway',
'Network Modem',
'Network Router',
'Network Router Modul',
'Network Security App',
'Network Switch',
'Network Transciever',
'Next G Router/Modem',
'Appliance Server',
'Optical',
'Geofence',
'Pantograph Monitorin',
'Power Supply Adaptor',
'RDC',
'Remote Radio Monitor',
'Ring Generator',
'RTOA',
'SDH',
'Train Speed Indicato',
'UPS',
'Voice Recorder',
'Waveguide Equipment',
'Weighing Servers',
'ZRS',
'Antenna',
'IoT Sensor',
'SFC Cooling',
'Electrical Section',
'HV Cables',
'Site',
'Insulators',
'Structures',
'Support/Registration',
'Tensioning',
'In Span Assembly',
'Lvl5 Feature Locatio',
'Lvl4 Feature Locatio',
'Lvl 3 Segmentation',
'AC-DC Converter',
'Air Conditioner',
'',
'Alternator Control E',
'ATP',
'Ballast Cleaning Mch',
'Ballast Compactor',
'Ballast Profiler',
'Ballast Regulator',
'Bogie',
'Brake Rack',
'Compressor: <100cfm',
'Compressor: >100cfm',
'Compaction Unit',
'Controlled Items',
'DC-AC Inverter',
'DC-DC Converter',
'E/Moving: End Loader',
'E/Moving: Excavator',
'E/Moving: Grader',
'Equip: Cleaning',
'Equip: Drilling',
'Equip: Electrical',
'Equip: Grinding',
'Equip: Lifting',
'Equip: Marine',
'Equip: Measuring',
'Equip: Other',
'Equip: Pumping',
'Equip: Spec Trk Mnt',
'Equip: Testing',
'Equip: Trimming',
'Forklift < 16T Cap',
'Gearbox',
'Hand Tool: Electric',
'Hand Tool: Hydraulic',
'Hand Tool: Pneumatic',
'Light Commercial',
'Loadout Alarm System',
'Engine',
'Loco: Deisel/Hydr',
'Main Alternator',
'Misc. Equipment',
'Wagon Class MMY',
'Passenger Vehicle',
'Phone',
'Plant: Brush Cutter',
'Plant: Elev Pltfrm',
'Plant: Forklift',
'Plant: General',
'Plant: Generator',
'Plant: Lawn Mower',
'Plant: Concrete Mixr',
'Plant: Post Hole Bor',
'Plant: Scissor Lift',
'Plant: Spike Driver',
'Plant: Spike Puller',
'Plant: SkidSteer Ldr',
'Plant: Tractor',
'Points Monitoring',
'Power Monitoring',
'Rail Grinder',
'Rail Handling Crane',
'Rail Saw',
'Rail Motor',
'Surge Reduction Filt',
'Shuttle Car',
'Sleeper',
'Sleeper Renewal Mch',
'Sleeper Spacer Mch',
'Sml Plt: Chain Saw',
'Tamping Machine',
'Trailer',
'Track Laying Machine',
'Vehicle: Heavy >4.4T',
'Vehicle: Light <4.4T',
'Wagon: Flat',
'Wagon: Hopper',
'Wagon: Infrastrcture',
'Wagon: Mineral',
'Wagon: Open',
'Wagon: Passenger',
'Water Pumping Unit',
'Wheelset',
'Welder: Flash-Butt',
'Welder: General']

In [25]:
[i for i in missing1 if i not in missing_asset_types]

[None, 'Cess Drain']

In [26]:
len(missing_asset_types)

172

In [27]:
union_df.isna().sum()

FLOC_STRNO_FunctionalLocation               0
FLOC_EARTX_TechnicalObjectTypeDescr     13348
TechnicalObjects_split                  13348
Maintenance Product                         0
Frequency Required                      17821
Frequency Unit                              0
FLOCLIN_LINEAR_LENGTH_LinearLengthKM    13786
ActivityCode                                0
AverageCost                             10011
FLOC_STORT_LocationDescr                18182
dtype: int64

In [28]:
# [f'rnd_floc_{maint}_{num}' for num in range(num_to_generate) for maint in missing_acitivies]

In [29]:
num_to_generate

3337

- Over Height Level Crossing Protection_F1
- Over Height Level Crossing Protection_F2
- Over Height Level Crossing Protection_F3
- Coal Dust Monitors

In [30]:
# # Getting all FLOC length from [vw_Dim_FunctionalLocationLinear] --> df2_length_only
# import pyodbc

# sql_query = """
#     WITH dim_floc AS (
#         SELECT
#             FLOC_STRNO_FunctionalLocation,
#             FLOC_PLTXT_FunctionalLocationDescr,
#             FLOC_TPLNR_FunctionalLocationInternalKey,
#             FLOC_EARTX_TechnicalObjectTypeDescr,
#             FLOC_MSGRP_FunctionalLocationRoom,
#             FLOC_STORT_LocationDescr,
#             FLOC_BUKRS_CompanyCode
#         FROM [myANALYTICS_SP].[silver.dimension.enterprise.asset].[vw_Dim_FunctionalLocation]
#     ),
#     -- dim_work_order AS (
#     --     SELECT *
#     --     FROM [myANALYTICS_SP].[silver.dimension.enterprise.asset].[vw_Dim_WorkOrder]
#     -- ),
#     fact_work_order AS (
#         SELECT
#             AUFNR_Order,
#             GLTRP_BasicFinishDateID,
#             KTEXT_OrderDescr,
#             ILART_MaintenanceActivityTypeID,
#             TPLNR_FunctionalLocationInternalID,
#             ActualCost
#         FROM [myANALYTICS_SP].[silver.fact.enterprise.asset].[vw_Fact_WorkOrder]
#         WHERE ILART_MaintenanceActivityTypeID IN
#             (
#                 'C01', 'C14', 'C20', 'C02', 'C13', 'C03', 'C19', 'C23', 'C25', 'C26', 'C10', -- Mechanised Track Maintenance
#                 'C29', 'C37', 'C08', 'C47', 'C54', 'C43', 'C51', 'C53', 'C57', 'C50', 'C10', 'C30', 'C48', 'C54', 'C52', 'C06', 'C07', 'C44', 'C01', 'C57', -- General Track Maintenance
#                 'B50', 'B53', 'C67', 'B04', 'B05', 'B06', 'B55', 'B57', 'C67', -- Structures Maintenance
#                 'T28', 'T29', 'T40', 'T41', 'T58', 'T44', 'T45', 'T46', 'T47', 'T48', 'T54', 'T42', 'T43', -- Control Systems - Signalling and Wayside Maintenance
#                 'T10', 'T11', 'T32', -- Control Systems - Telecommunications Maintenance
#                 'C54', 'T32', -- Control Systems - Operational Systems Maintenance
#                 'T26', 'T27', 'T32', 'T24', 'T25' -- Traction Power Maintenance
#             )
#     )

#     SELECT
#         --fact_work_order.TPLNR_FunctionalLocationInternalID,
#         dim_floc.FLOC_STRNO_FunctionalLocation AS 'floc',
#         dim_floc.FLOC_PLTXT_FunctionalLocationDescr AS 'floc_description',
#         fact_work_order.AUFNR_Order AS 'work_order_id',
#         TRY_CAST(fact_work_order.GLTRP_BasicFinishDateID AS date) AS 'work_order_basic_finish_date',
#         fact_work_order.KTEXT_OrderDescr AS 'work_order_desc',
#         fact_work_order.ILART_MaintenanceActivityTypeID AS 'activity_type',
#         dim_floc.FLOC_EARTX_TechnicalObjectTypeDescr as 'level',
#         fact_work_order.ActualCost as 'actual_cost',
#         FLOC_MSGRP_FunctionalLocationRoom,
#         FLOC_STORT_LocationDescr
#     FROM dim_floc
#         LEFT JOIN fact_work_order ON fact_work_order.TPLNR_FunctionalLocationInternalID = dim_floc.FLOC_TPLNR_FunctionalLocationInternalKey
#         -- LEFT JOIN dim_work_order ON something
#     where
#         dim_floc.FLOC_BUKRS_CompanyCode = '5000' -- CompanyCode 5000 = Aurizon Network Pty Ltd (below rail)
#         AND fact_work_order.TPLNR_FunctionalLocationInternalID is not null -- this line will filter the result table to only show FLOC_IDs that HAD an order performed on it before (there's a lot of FLOC that weren't maintained before)
#         -- AND fact_work_order.RowNum = 1
#     ORDER BY floc, work_order_basic_finish_date
# """

# # Define your server name
# server_name = 'myanalytics.aurizon.com.au'

# # Establish a connection using Windows Authentication
# conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# # Execute the SQL query and load the result into a pandas DataFrame
# work_order = pd.read_sql_query(sql_query, conn)

# # Display the DataFrame
# work_order

In [31]:
# sql_query = """
#     WITH work_order AS (
#         SELECT
#             AUFNR_Order,
#             KTEXT_OrderDescr,
#             TPLNR_FunctionalLocationInternalID,
#             ILART_MaintenanceActivityTypeID,
#             GSTRP_BasicStartDateID,
#             GLTRP_BasicFinishDateID,
#             ActualCost
#         FROM [myANALYTICS_SP].[silver.fact.enterprise.asset].[vw_Fact_WorkOrder]
#         WHERE
#             BUKRS_CompanyCodeID = '5000'
#             --AND ActualCost >= 0
#     ),
#     all_floc AS (
#         SELECT
#             FLOC_TPLNR_FunctionalLocationInternalKey,
#             FLOC_STRNO_FunctionalLocation,
#             FLOC_PLTXT_FunctionalLocationDescr,
#             --FLOC_TYPTX_FunctionalLocationCategoryDescr,
#             --FLOC_EQART_TechnicalObjectType,
#             FLOC_EARTX_TechnicalObjectTypeDescr,
#             --FLOC_BUKRS_CompanyCode,
#             --FLOC_STORT_Location,
#             FLOC_STORT_LocationDescr
#         FROM [myANALYTICS_SP].[silver.dimension.enterprise.asset].[vw_Dim_FunctionalLocation]
#         WHERE FLOC_BUKRS_CompanyCode = '5000'
#     )

#     SELECT
#         work_order.AUFNR_Order,
#         work_order.KTEXT_OrderDescr,
#         work_order.ILART_MaintenanceActivityTypeID,
#         work_order.GSTRP_BasicStartDateID,
#         work_order.GLTRP_BasicFinishDateID,
#         work_order.ActualCost,
#         all_floc.FLOC_STRNO_FunctionalLocation,
#         all_floc.FLOC_PLTXT_FunctionalLocationDescr,
#         all_floc.FLOC_EARTX_TechnicalObjectTypeDescr,
#         all_floc.FLOC_STORT_LocationDescr
#     FROM work_order
#         LEFT JOIN all_floc ON work_order.TPLNR_FunctionalLocationInternalID = all_floc.FLOC_TPLNR_FunctionalLocationInternalKey
#     ORDER BY work_order.GSTRP_BasicStartDateID
# """

# # Define your server name
# server_name = 'myanalytics.aurizon.com.au'

# # Establish a connection using Windows Authentication
# conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# # Execute the SQL query and load the result into a pandas DataFrame
# df4 = pd.read_sql_query(sql_query, conn)

# file_path = 'csv/work_orders_all.csv'
# df4.to_csv(file_path, index=True)

# # Display the DataFrame
# df4