In [27]:
# Getting all possible ActivityCode from Excel file -> df1

import pandas as pd

file_path = 'MaintenanceActivityTypes.xlsx'
sheet_name = 'in'

df1 = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl')
df1 = df1[df1['Ignore'] != 1]

df1_split = df1.assign(TechnicalObjects_split=df1['TechnicalObjects'].str.split(', ')).explode('TechnicalObjects_split')
df1_split

,Index,ActivityCode,Maintenance Product,Frequency Required,Frequency Unit,TechnicalObjects,Ignore,Specifics,Unnamed: 8,Unnamed: 9,TechnicalObjects_split
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Main Line
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Passing Loop
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Loading Facility
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Unloading Facility
0,1.0,"C01, C14, C20, C02",Ballast Undercutting,600.0,MNT,"Main Line, Passing Loop, Loading Facility, Unl...",NaN,NaN,NaN,NaN,Fork
...,...,...,...,...,...,...,...,...,...,...,...
151,1.0,"T24, T25",Section Insulator,52.0,Weeks,Section Insulator,NaN,NaN,NaN,NaN,Section Insulator
152,2.0,"T24, T25",Section Insulator,260.0,Weeks,Section Insulator,NaN,NaN,NaN,NaN,Section Insulator
154,1.0,"T24, T25",Track and Overhead Geometry Vehicle,26.0,Weeks,Conductors/Wires,NaN,NaN,NaN,NaN,Conductors/Wires
155,1.0,"T24, T25",Height & Stagger Measurements,1.0,Year,Conductors/Wires,NaN,NaN,NaN,NaN,Conductors/Wires
156,1.0,"T24, T25",Earth Grid Inspections,260.0,Weeks,Earthing and Bonding,NaN,NaN,NaN,NaN,Earthing and Bonding

In [28]:
file_path = 'AssetsTypes.xlsx'
sheet_name = 'in'

asset_types_df = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl')

asset_types_df

    AssetCode             AssetType
0       10000         Track Objects
1       10001             Main Line
2       10003            Yard Track
3       10004      Loading Facility
4       10005    Unloading Facility
..        ...                   ...
252   WATRPMP    Water Pumping Unit
253   WEASTSY  Weather Station Syst
254  WHEELSET              Wheelset
255   WLDRFBT    Welder: Flash-Butt
256   WLDRGEN       Welder: General

[257 rows x 2 columns]

In [29]:
# %%timeit
# {col: sum(df1_split['TechnicalObjects_split'] == col) for col in asset_types_df['AssetType']}

In [30]:
# %%timeit
# test = {}
# for col in asset_types_df['AssetType']:
#     test[col] = sum(df1_split['TechnicalObjects_split'] == col)

In [36]:
res = {col: sum(df1_split['TechnicalObjects_split'] == col) for col in asset_types_df['AssetType']}
counts = pd.DataFrame({
    'AssetType': res.keys(),
    'Count': res.values()
})
counts
# counts[counts['AssetType'] == 'Shuttle Car']

       AssetType  Count
233  Shuttle Car      0

In [37]:
zero_counts = counts[counts['Count'] == 0]
zero_counts

              AssetType  Count
0         Track Objects      0
8            Crossovers      0
10        Track Signage      0
15          Track Angle      0
18        Turnout Track      0
..                  ...    ...
250    Wagon: Passenger      0
251  Water Pumping Unit      0
253            Wheelset      0
254  Welder: Flash-Butt      0
255     Welder: General      0

[172 rows x 2 columns]

In [38]:
with pd.ExcelWriter('zero_count.xlsx', mode='w', engine='openpyxl') as writer:
    # Write the DataFrame to the Excel file
    zero_counts.to_excel(writer, sheet_name='zero_count', index=False)