In [1]:
import pandas as pd
import pyodbc
from datetime import datetime

In [2]:
sql_query = """
    -- all renewal WO and their flocid
    SELECT
        [FunctionLocation],
        CASE
            WHEN [TechCompletionDate] IS NULL THEN [BasicFinishDate]
            ELSE [TechCompletionDate]
        END AS 'CompletionDate'
    FROM [myANALYTICS_SP].[bronze.batch.belowrail.asset.ringfenced].[vw_WorkOrder]
    WHERE
        OrderType = 'MW04'
        AND CompanyCode = '5000'
        AND MainUserStatusDesc = 'Practically Completed'
        AND ActualTotalCost IS NOT NULL
        AND ActualTotalCost > 0
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';DATABASE=myANALYTICS_SP;Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
all_renewal_wo = pd.read_sql_query(sql_query, conn)

# Display the DataFrame
all_renewal_wo['CompletionDate'] = pd.to_datetime(all_renewal_wo['CompletionDate']).dt.date

all_renewal_wo.rename(columns={'FunctionLocation': 'floc_id'}, inplace=True)
all_renewal_wo.rename(columns={'CompletionDate': 'completion_date'}, inplace=True)

current_date = datetime.now().date()
all_renewal_wo = all_renewal_wo[(all_renewal_wo['completion_date'] <= current_date)]

all_renewal_wo = all_renewal_wo.sort_values(by='completion_date', ascending=False)
all_renewal_wo = all_renewal_wo.drop_duplicates(subset='floc_id', keep='first')

all_renewal_wo

C:\Users\R893859\AppData\Local\Temp\ipykernel_19160\3191190570.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  all_renewal_wo = pd.read_sql_query(sql_query, conn)

                   floc_id completion_date
7048              CU100047      2024-07-16
5324               BW-23ML      2024-07-16
9495        BR200652-91-01      2024-07-16
8819              CU101543      2024-07-16
8310                  None      2024-07-16
...                    ...             ...
1805              LU000048      2016-10-25
291               N01-S009      2016-10-25
1558              TO000338      2016-09-19
768               TO000220      2016-08-10
501   PN-TM-BC-UMI500-CA01      2016-07-28

[1688 rows x 2 columns]

In [3]:
sql_query = """
    SELECT DISTINCT
        FLOC_STRNO_FunctionalLocation,
        IFLOT_DATAB_StartupDate
    FROM
    myANALYTICS_SP.[workarea.silver.dimension.enterprise.asset].vw_Dim_FunctionalLocationStartupDate
    WHERE IFLOT_DATAB_StartupDate > 0
    AND FLOC_STRNO_FunctionalLocation IS NOT NULL
    AND FLOC_BUKRS_CompanyCode = '5000'
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';DATABASE=myANALYTICS_SP;Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
startupdate_df = pd.read_sql_query(sql_query, conn)

# df1.to_pickle("../pkl/work_order_all.pkl")
# Display the DataFrame
startupdate_df['IFLOT_DATAB_StartupDate'] = pd.to_datetime(startupdate_df['IFLOT_DATAB_StartupDate'])

startupdate_df.rename(columns={'FLOC_STRNO_FunctionalLocation': 'floc_id'}, inplace=True)
startupdate_df.rename(columns={'IFLOT_DATAB_StartupDate': 'startup_date'}, inplace=True)

startupdate_df

C:\Users\R893859\AppData\Local\Temp\ipykernel_19160\1586986036.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  startupdate_df = pd.read_sql_query(sql_query, conn)

               floc_id startup_date
0          ST000480-63   2014-01-01
1          ST000850-48   1994-01-01
2          ST000960-87   1987-01-01
3          ST008220-29   2011-11-16
4          ST003870-03   2013-01-01
...                ...          ...
25988      ST004120-17   2016-05-29
25989      ST006730-01   2007-12-31
25990      ST004700-08   2004-12-31
25991         TO004059   2021-01-01
25992  PN-MP-PG-EEG501   2017-09-28

[25993 rows x 2 columns]

In [4]:
merged_df1 = pd.concat([startupdate_df, all_renewal_wo], ignore_index=True)
merged_df1

                    floc_id startup_date completion_date
0               ST000480-63   2014-01-01             NaN
1               ST000850-48   1994-01-01             NaN
2               ST000960-87   1987-01-01             NaN
3               ST008220-29   2011-11-16             NaN
4               ST003870-03   2013-01-01             NaN
...                     ...          ...             ...
27676              LU000048          NaT      2016-10-25
27677              N01-S009          NaT      2016-10-25
27678              TO000338          NaT      2016-09-19
27679              TO000220          NaT      2016-08-10
27680  PN-TM-BC-UMI500-CA01          NaT      2016-07-28

[27681 rows x 3 columns]

In [5]:
# all_structure_floc
sql_query = """
	-- Converting Civil Structures Asset Renewal from Python to SQL
	WITH DF1 AS(
		SELECT [FuncLocID]
			,[STRUCTURE_LENGTH]
			,[YEAR_OF_CONSTRUCTION]
			,[LinearRefPattern]
			,(CASE
					WHEN [ASSET_CLASS_TYPE] = 'BRIDGE' AND [SPAN_MATERIAL] = 'STEEL' THEN 'Steel Bridge'
					WHEN [ASSET_CLASS_TYPE] = 'BRIDGE' AND [SPAN_MATERIAL] = 'TIMBER' THEN 'Timber Bridge'
					ELSE NULL
				END) AS [Asset_Type_Bridge]
			,(CASE
					WHEN [STRUCTURE_TYPE] = 'REINFORCED CONCRETE BOXCULVERT' AND CAST(SUBSTRING(CAST([YEAR_OF_CONSTRUCTION] AS VARCHAR), 1, 4) AS FLOAT) < 2000 THEN 'Reinforced Concrete Box Culvert (RCBC) prior to year 2000'
					WHEN [STRUCTURE_TYPE] = 'REINFORCED CONCRETE BOXCULVERT' AND CAST(SUBSTRING(CAST([YEAR_OF_CONSTRUCTION] AS VARCHAR), 1, 4) AS FLOAT) >= 2000 THEN 'Reinforced Concrete Box Culvert (RCBC) designed to AS1597'
					ELSE NULL
				END) AS Asset_Type_Boxculvert
			,(CASE 
					WHEN [STRUCTURE_TYPE] = 'REINFORCED PIPE CULVERT' THEN 'Reinforced Concrete Pipe (RCP)'
					WHEN [STRUCTURE_TYPE] = 'CORRUGATED METAL PIPE' THEN 'Corrugated Metal Pipe (CMP)'
					WHEN [STRUCTURE_TYPE] != 'REINFORCED PIPE CULVERT' AND [SPAN_TYPE] = 'PIPE CULVERT' AND SPAN_MATERIAL LIKE '%CONCRETE%' THEN 'Concrete Pipe (Unreinforced)'
					ELSE NULL
				END) AS [Asset_Type_Pipe]
			,(CASE 
					WHEN [SPAN_MATERIAL] = 'CAST-IN-SITU CONCRETE' THEN 'Concrete In situ Arch'
					ELSE NULL
				END) AS [Asset_Type_Arch]
			,(CASE 
					WHEN [FuncLocID] LIKE 'RW%' THEN 'Concrete Retaining Wall'
					ELSE NULL
				END) AS [Asset_Type_Wall]
			,(CASE 
					WHEN SPAN_MATERIAL = 'STEEL' AND STRUCTURE_USAGE = 'PEDESTRIAN' AND TechnicalObjectTypeDesc = 'Bridges' THEN 'Pedestrian Overbridge (Steel)'
					ELSE NULL
				END) AS [Asset_Type_Overbridge]
		FROM [myANALYTICS_SP].[bronze.batch.belowrail.asset.civil.structure.ringfenced].[vw_FLOCStructure]
		WHERE 1=1
		AND [UserStatusDesc]  = 'In Service'
	),

	DF2 AS(
		SELECT [FuncLocID]
			,[ASSET]
			,[ASSET_TYPE]
			,[STRUCTURE_LENGTH]
			,[YEAR_OF_CONSTRUCTION]
			,[LinearRefPattern]
		FROM
		(SELECT [FuncLocID]
				,[STRUCTURE_LENGTH]
				,[YEAR_OF_CONSTRUCTION]
				,[LinearRefPattern]
				,CAST([Asset_Type_Bridge] AS VARCHAR(100)) AS [Asset_Type_Bridge]
				,CAST([Asset_Type_Boxculvert] AS VARCHAR(100)) AS [Asset_Type_Boxculvert]
				,CAST([Asset_Type_Pipe] AS VARCHAR(100)) AS [Asset_Type_Pipe]
				,CAST([Asset_Type_Arch] AS VARCHAR(100)) AS [Asset_Type_Arch]
				,CAST([Asset_Type_Wall] AS VARCHAR(100)) AS [Asset_Type_Wall]
				,CAST([Asset_Type_Overbridge] AS VARCHAR(100)) AS [Asset_Type_Overbridge]
			FROM DF1) D
		UNPIVOT 
			(ASSET FOR ASSET_TYPE IN
				([Asset_Type_Bridge]
				,[Asset_Type_Boxculvert]
				,[Asset_Type_Pipe]
				,[Asset_Type_Arch]
				,[Asset_Type_Wall]
				,[Asset_Type_Overbridge])
			) AS unpvt
	)

	SELECT * FROM DF2
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
all_structure_floc = pd.read_sql_query(sql_query, conn)
all_structure_floc['YEAR_OF_CONSTRUCTION'] = pd.to_datetime(all_structure_floc['YEAR_OF_CONSTRUCTION'], format='%Y%m%d', errors='coerce')

all_structure_floc = all_structure_floc[['FuncLocID', 'ASSET', 'YEAR_OF_CONSTRUCTION']]
all_structure_floc['ASSET_GROUP'] = 'civil_structure'

all_structure_floc.rename(columns={'FuncLocID': 'floc_id'}, inplace=True)
all_structure_floc.rename(columns={'YEAR_OF_CONSTRUCTION': 'construction_year'}, inplace=True)

# # Display the DataFrame
# all_structure_floc

C:\Users\R893859\AppData\Local\Temp\ipykernel_19160\2254541309.py:82: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  all_structure_floc = pd.read_sql_query(sql_query, conn)

In [6]:
# all_civil_track_floc
sql_query = """
    -- Civil Track Asset Renewal Python Replication in SQL.
    WITH DF1 AS (
        SELECT [FuncLocID]
            ,[FuncLocLinearLengthKM]
            ,[LinearRefPattern]
            ,(CASE
                    WHEN LEFT_RAIL_HARDNESS LIKE '%HH%' AND Class = 'CURVE' AND TechnicalObjectTypeDesc = 'Curves - Sml Radius' THEN LEFT_RAIL_MASS + ' Rail - ' + LEFT_RAIL_HARDNESS + ' Curves' + ' (200 to 600 metre radius)'
                    WHEN LEFT_RAIL_HARDNESS NOT LIKE '%HH%' AND Class = 'CURVE' AND TechnicalObjectTypeDesc = 'Curves - Sml Radius' THEN LEFT_RAIL_MASS + ' Rail - ' + 'Curves' + ' (200 to 600 metre radius)'
                    WHEN LEFT_RAIL_HARDNESS LIKE '%HH%' AND Class = 'CURVE' AND TechnicalObjectTypeDesc = 'Curves - Med Radius' THEN LEFT_RAIL_MASS + ' Rail - ' + LEFT_RAIL_HARDNESS + ' Curves' + ' (601 to 1000 metre radius)'
                    WHEN LEFT_RAIL_HARDNESS NOT LIKE '%HH%' AND Class = 'CURVE' AND TechnicalObjectTypeDesc = 'Curves - Med Radius' THEN LEFT_RAIL_MASS + ' Rail - ' + 'Curves' + ' (601 to 1000 metre radius)'
                    WHEN LEFT_RAIL_HARDNESS LIKE '%HH%' AND Class = 'CURVE' AND TechnicalObjectTypeDesc = 'Curves - Lrg Radius' THEN LEFT_RAIL_MASS + ' Rail - ' + LEFT_RAIL_HARDNESS + ' Curves' + ' (1001 to 2500 metre radius)'
                    WHEN LEFT_RAIL_HARDNESS NOT LIKE '%HH%' AND Class = 'CURVE' AND TechnicalObjectTypeDesc = 'Curves - Lrg Radius' THEN LEFT_RAIL_MASS + ' Rail - ' + 'Curves' + ' (1001 to 2500 metre radius)'
                    WHEN Class = 'ZPM_TANGENTS' THEN LEFT_RAIL_MASS + ' Rail - ' + 'Straights'
                    ELSE NULL
                END) AS [ASSET_TYPE_RAIL]
                ,(CASE
                    WHEN SLEEPER_SIZE_VALUE = 'CON 28T' THEN '28.0 Tonne Axle Load PSC Sleepers'
                    WHEN SLEEPER_SIZE_VALUE = 'CON 22T' THEN '22.5 Tonne Axle Load PSC Sleepers'
                    WHEN SLEEPER_SIZE_VALUE = 'INTERSPERSED CONCRETE/TIMBER' OR SLEEPER_SIZE_VALUE = 'TIMBER' THEN 'Timber Sleepers'
                    WHEN SLEEPER_SIZE_VALUE = 'STEEL' THEN 'Steel Sleepers'
                    ELSE NULL
                END) AS [ASSET_TYPE_SLEEPERS]
                ,(CASE
                    WHEN SLEEPER_FASTENINGS LIKE '%PANDROL%' THEN 'Replace Pandrol E-Clip Fastenings'
                    WHEN SLEEPER_FASTENINGS = 'FIST-BTR' THEN 'Replace Fist Fastenings'
                    ELSE NULL
                END) AS [ASSET_TYPE_FASTENINGS]

        FROM [myANALYTICS_SP].[bronze.batch.belowrail.asset.track.ringfenced].[vw_FLOCTrackFeature]
        WHERE UserStatusDesc = 'In Service'
    ),

    DF2 AS (
        SELECT [FuncLocID]
            ,[ASSET]
            ,[ASSET_TYPE]
            ,[FuncLocLinearLengthKM]
            ,[LinearRefPattern]
        FROM
        (SELECT [FuncLocID]
                ,[FuncLocLinearLengthKM]
                ,[LinearRefPattern]
                ,CAST([ASSET_TYPE_RAIL] AS VARCHAR(100)) AS [ASSET_TYPE_RAIL]
                ,CAST([ASSET_TYPE_SLEEPERS] AS VARCHAR(100)) AS [ASSET_TYPE_SLEEPERS]
                ,CAST([ASSET_TYPE_FASTENINGS] AS VARCHAR(100)) AS [ASSET_TYPE_FASTENINGS]
            FROM DF1) D
        UNPIVOT 
            (ASSET FOR ASSET_TYPE IN
                ([ASSET_TYPE_RAIL]
                ,[ASSET_TYPE_SLEEPERS]
                ,[ASSET_TYPE_FASTENINGS])
            ) AS unpvt
    ),

    DF3 AS (
        SELECT [FuncLocID]
            ,[FuncLocLinearLengthKM]
            ,[LinearRefPattern]
            ,(CASE
                    WHEN VEE_TYPE = 'SWINGNOSE' THEN ANGLE + ' (' + LEFT_RAIL_MASS + ') ' + 'Swing Nose Points and Crossing'
                    WHEN VEE_TYPE = 'RBM' THEN ANGLE + ' (' + LEFT_RAIL_MASS + ') ' + 'RBM Points and Crossing'
                    WHEN VEE_TYPE = 'FABRICATED' THEN ANGLE + ' (' + LEFT_RAIL_MASS + ') ' + 'Fabricated Points and Crossing'
                    WHEN VEE_TYPE = 'SPRINGWING' THEN ANGLE + ' (' + LEFT_RAIL_MASS + ') ' + 'Spring Wing Crossing'
                    WHEN VEE_TYPE IS NOT NULL THEN ANGLE + ' (' + LEFT_RAIL_MASS + ') ' + VEE_TYPE
                    ELSE NULL
                END) AS [ASSET_TYPE_POINTS_AND_CROSSING]
        FROM [myANALYTICS_SP].[bronze.batch.belowrail.asset.track.rail.ringfenced].[vw_FLOCTurnoutExtended]
        WHERE UserStatusDesc = 'In Service'
    ),

    DF4 AS (
        SELECT [FuncLocID]
            ,[ASSET]
            ,[ASSET_TYPE]
            ,[FuncLocLinearLengthKM]
            ,[LinearRefPattern]
        FROM
        (SELECT [FuncLocID]
                ,[FuncLocLinearLengthKM]
                ,[LinearRefPattern]
                ,CAST([ASSET_TYPE_POINTS_AND_CROSSING] AS VARCHAR(100)) AS [ASSET_TYPE_POINTS_AND_CROSSING]
            FROM DF3) D
        UNPIVOT 
            (ASSET FOR ASSET_TYPE IN
                ([ASSET_TYPE_POINTS_AND_CROSSING])
            ) AS unpvt
    ),

    DF5 AS (

        SELECT [FuncLocID]
            ,'Insulated Rail Joints' AS [ASSET]
            ,'ASSET_TYPE_IRJS' AS [ASSET_TYPE]
            ,NULL AS FuncLocLinearLengthKM
            ,[LinearRefPattern]
        FROM [myANALYTICS_SP].[bronze.batch.belowrail.asset.track.rail.ringfenced].[vw_FLOCIRJ]
        WHERE UserStatusDesc = 'In Service'
    ),

    RESULT AS (
        SELECT * FROM DF2
        UNION ALL
        SELECT * FROM DF4
        UNION ALL
        SELECT * FROM DF5
    )

    SELECT * FROM RESULT;
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
all_civil_track_floc = pd.read_sql_query(sql_query, conn)

all_civil_track_floc = all_civil_track_floc[['FuncLocID', 'ASSET']]
all_civil_track_floc['ASSET_GROUP'] = 'civil_track'

all_civil_track_floc.rename(columns={'FuncLocID': 'floc_id'}, inplace=True)

# # Display the DataFrame
# all_civil_track_floc

C:\Users\R893859\AppData\Local\Temp\ipykernel_19160\1161289048.py:120: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  all_civil_track_floc = pd.read_sql_query(sql_query, conn)

In [7]:
# all_civil_right_of_way_floc
sql_query = """
    -- Civil Right of Way Asset Renewal Python Conversion to SQL.
    WITH DF1 AS (
        SELECT [FuncLocID]
            ,[FuncLocLinearLengthKM]
            ,[LinearRefPattern]
            ,(CASE
                    WHEN TechnicalObjectTypeDesc = 'Public LX' THEN 'Public Level Xing Refurbishment (signage, drainage, road surface)'
                    WHEN TechnicalObjectTypeDesc = 'Maintenance LX' THEN 'Occupational & Maintenance Level Xing Refurbishment (signage, drainage, road surface)'
                    WHEN FuncLocName4 LIKE '%cattle%' THEN 'Cattle Xing Refurbishment (signage, drainage, road surfacing)'
                    ELSE NULL
                END) AS [ASSET_TYPE_CROSSING]
        FROM [myANALYTICS_SP].[bronze.batch.belowrail.asset.operationalsystem.ringfenced].[vw_FLOCLevelCrossing]
        WHERE [UserStatusDesc]  = 'In Service'
    ),

    DF2 AS(
        SELECT [FuncLocID]
            ,[ASSET]
            ,[ASSET_TYPE]
            ,[FuncLocLinearLengthKM]
            ,[LinearRefPattern]
        FROM
        (SELECT [FuncLocID]
                ,[FuncLocLinearLengthKM]
                ,[LinearRefPattern]
                ,CAST([ASSET_TYPE_CROSSING] AS VARCHAR(100)) AS [ASSET_TYPE_CROSSING]
            FROM DF1) D
        UNPIVOT 
            (ASSET FOR ASSET_TYPE IN
                ([ASSET_TYPE_CROSSING])
            ) AS unpvt
    ),

    DF3 AS (
        SELECT [FuncLocID]
            ,[FuncLocLinearLengthKM]
            ,[LinearRefPattern]
            ,(CASE
                    WHEN AZJ_SG_EQUIPGRP LIKE '%pedestrian%' THEN 'Pedestrian Foot Xing Refurbishment (signage, drainage, road surface)'
                    ELSE NULL
                END) AS [ASSET_TYPE_CROSSING]
        FROM [myANALYTICS_SP].[bronze.batch.belowrail.asset.electrical.ringfenced].[vw_FLOCElectrical]
        WHERE [UserStatusDesc]  = 'In Service'
    ),

    DF4 AS(
        SELECT [FuncLocID]
            ,[ASSET]
            ,[ASSET_TYPE]
            ,[FuncLocLinearLengthKM]
            ,[LinearRefPattern]
        FROM
        (SELECT [FuncLocID]
                ,[FuncLocLinearLengthKM]
                ,[LinearRefPattern]
                ,CAST([ASSET_TYPE_CROSSING] AS VARCHAR(100)) AS [ASSET_TYPE_CROSSING]
            FROM DF3) D
        UNPIVOT 
            (ASSET FOR ASSET_TYPE IN
                ([ASSET_TYPE_CROSSING])
            ) AS unpvt
    ),

    RESULT AS (
        SELECT * FROM DF2
        UNION ALL
        SELECT * FROM DF4
    )

    SELECT * FROM RESULT;
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
all_civil_right_of_way_floc = pd.read_sql_query(sql_query, conn)

all_civil_right_of_way_floc = all_civil_right_of_way_floc[['FuncLocID', 'ASSET']]
all_civil_right_of_way_floc['ASSET_GROUP'] = 'civil_rightofway'

all_civil_right_of_way_floc.rename(columns={'FuncLocID': 'floc_id'}, inplace=True)

# # Display the DataFrame
# all_civil_right_of_way_floc

C:\Users\R893859\AppData\Local\Temp\ipykernel_19160\4077560328.py:82: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  all_civil_right_of_way_floc = pd.read_sql_query(sql_query, conn)

In [8]:
# all_control_system_floc
sql_query = """
	-- Control Systems Asset Renewal Python Conversion to SQL.
	WITH DF1 AS (
		SELECT [FuncLocID]
			,[FuncLocLinearLengthKM]
			,[LinearRefPattern]
			,(CASE
					WHEN [FuncLocName] LIKE '%signal gantry%' THEN 'Signal Gantry'
					ELSE NULL
				END) AS [ASSET_TYPE_GANTRY]
		FROM [myANALYTICS_SP].[bronze.batch.belowrail.asset.civil.structure.ringfenced].[vw_FLOCStructure]
		WHERE [UserStatusDesc]  = 'In Service'
	),

	DF2 AS(
		SELECT [FuncLocID]
			,[ASSET]
			,[ASSET_TYPE]
			,[FuncLocLinearLengthKM]
			,[LinearRefPattern]
		FROM
		(SELECT [FuncLocID]
				,[FuncLocLinearLengthKM]
				,[LinearRefPattern]
				,CAST([ASSET_TYPE_GANTRY] AS VARCHAR(100)) AS [ASSET_TYPE_GANTRY]
			FROM DF1) D
		UNPIVOT 
			(ASSET FOR ASSET_TYPE IN
				([ASSET_TYPE_GANTRY])
			) AS unpvt
	),

	DF3 AS (
		SELECT [FuncLocID]
			,[FuncLocLinearLengthKM]
			,[LinearRefPattern]
			,(CASE
					WHEN AZJ_SG_SYSGRP = 'TRAIN PROTECTION' AND AZJ_SG_EQUIPTYPE LIKE '%ATP%' THEN 'Train Protection Systems (ATP)'
					ELSE NULL
				END) AS [ASSET_TYPE_TRAIN_PROTECTION]
			,(CASE
					WHEN TechnicalObjectTypeDesc = 'Weather Station Syst' THEN 'Weather Station'
					ELSE NULL
				END) AS [ASSET_TYPE_WEATHER_STATION]
			,(CASE
					WHEN [AZJ_SG_SYSTYPE] = 'CROSSINGS' AND [AZJ_SG_EQUIPTYPE] LIKE 'RMS%' THEN 'Level Crossing Monitors'
					ELSE NULL
				END) AS [ASSET_TYPE_LX_MONITORS]
		FROM [myANALYTICS_SP].[bronze.batch.belowrail.asset.track.ringfenced].[vw_FLOCTrainDetection]
		WHERE [UserStatusDesc]  = 'In Service'
	),
	
	DF4 AS(
		SELECT [FuncLocID]
			,[ASSET]
			,[ASSET_TYPE]
			,[FuncLocLinearLengthKM]
			,[LinearRefPattern]
		FROM
		(SELECT [FuncLocID]
				,[FuncLocLinearLengthKM]
				,[LinearRefPattern]
				,CAST([ASSET_TYPE_TRAIN_PROTECTION] AS VARCHAR(100)) AS [ASSET_TYPE_TRAIN_PROTECTION]
				,CAST([ASSET_TYPE_WEATHER_STATION] AS VARCHAR(100)) AS [ASSET_TYPE_WEATHER_STATION]
				,CAST([ASSET_TYPE_LX_MONITORS] AS VARCHAR(100)) AS [ASSET_TYPE_LX_MONITORS]
			FROM DF3) D
		UNPIVOT 
			(ASSET FOR ASSET_TYPE IN
				([ASSET_TYPE_TRAIN_PROTECTION],
				[ASSET_TYPE_WEATHER_STATION],
				[ASSET_TYPE_LX_MONITORS])
			) AS unpvt
	),

	DF5 AS (
		SELECT [FuncLocID]
			,[FuncLocLinearLengthKM]
			,[LinearRefPattern]
			,(CASE
					WHEN QR_CONFIG = 'LED SIGNAL' THEN 'LED Signal Modules'
					ELSE NULL
				END) AS [ASSET_TYPE_SIGNAL_MODULES]
			,(CASE
					WHEN FuncLocName LIKE '%s2%' AND FuncLocName LIKE '%telemetry%' THEN 'S2 Telemetry Unit'
					ELSE NULL
				END) AS [ASSET_TYPE_TELEMETRY_UNIT]
			,(CASE
					WHEN AZJ_SG_SYSTYPE = 'WHEEL IMPACT LOAD DETECTOR' THEN 'Wheel Impact Load Detector (WILD)'
					WHEN TechnicalObjectTypeDesc = 'Hot Bearing / Wheel' AND AZJ_SG_EQUIPTYPE LIKE '%detector%' THEN 'Hot Bearing and Hot Wheel Detectors'
					ELSE NULL
				END) AS [ASSET_TYPE_DETECTOR]
			,(CASE
					WHEN [AZJ_SG_EQUIPTYPE] = 'POLE' THEN 'Radio Poles'
					ELSE NULL
				END) AS [ASSET_TYPE_POLE]
			,(CASE
					WHEN AZJ_SG_EQUIPGRP = 'ELECTRIC POINTS' OR AZJ_SG_EQUIPGRP = 'HYDRAULIC POINTS' OR AZJ_SG_EQUIPGRP = 'MECHANICAL POINTS' THEN 'Points Machines'
					ELSE NULL
				END) AS [ASSET_TYPE_POINTS]
			,(CASE
					WHEN TechnicalObjectTypeDesc = 'Alternator Control E' AND WorkCenterDesc LIKE '%Control Systems%' AND AZJ_SG_EQUIPGRP = 'STANDBY SUPPLY' THEN 'Diesel Standby Alternators'
					ELSE NULL
				END) AS [ASSET_TYPE_ALTERNATORS]
		FROM [myANALYTICS_SP].[bronze.batch.belowrail.asset.ringfenced].[vw_FLOCTelemetry]
		WHERE [UserStatusDesc]  = 'In Service'
	),

	DF6 AS(
		SELECT [FuncLocID]
			,[ASSET]
			,[ASSET_TYPE]
			,[FuncLocLinearLengthKM]
			,[LinearRefPattern]
		FROM
		(SELECT [FuncLocID]
				,[FuncLocLinearLengthKM]
				,[LinearRefPattern]
				,CAST([ASSET_TYPE_SIGNAL_MODULES] AS VARCHAR(100)) AS [ASSET_TYPE_SIGNAL_MODULES]
				,CAST([ASSET_TYPE_TELEMETRY_UNIT] AS VARCHAR(100)) AS [ASSET_TYPE_TELEMETRY_UNIT]
				,CAST([ASSET_TYPE_DETECTOR] AS VARCHAR(100)) AS [ASSET_TYPE_DETECTOR]
				,CAST([ASSET_TYPE_POLE] AS VARCHAR(100)) AS [ASSET_TYPE_POLE]
				,CAST([ASSET_TYPE_POLE] AS VARCHAR(100)) AS [ASSET_TYPE_POINTS]
				,CAST([ASSET_TYPE_POLE] AS VARCHAR(100)) AS [ASSET_TYPE_ALTERNATORS]
			FROM DF5) D
		UNPIVOT 
			(ASSET FOR ASSET_TYPE IN
				([ASSET_TYPE_SIGNAL_MODULES],
				[ASSET_TYPE_TELEMETRY_UNIT],
				[ASSET_TYPE_DETECTOR],
				[ASSET_TYPE_POLE],
				[ASSET_TYPE_POINTS],
				[ASSET_TYPE_ALTERNATORS])
			) AS unpvt
	),

	DF7 AS (
		SELECT [FuncLocID]
			,[FuncLocLinearLengthKM]
			,[LinearRefPattern]
			,(CASE
					WHEN AZJ_SG_EQUIPTYPE = 'UPS' THEN 'UPS'
					ELSE NULL
				END) AS [ASSET_TYPE_UPS]
			,(CASE
					WHEN AZJ_SG_EQUIPTYPE = 'RELAY INTERLOCKING' THEN 'Relay Interlockings'
					ELSE NULL
				END) AS [ASSET_TYPE_INTERLOCKINGS]
			,(CASE
					WHEN AZJ_SG_EQUIPTYPE = 'DC TRACK CIRCUIT' THEN 'DC and Impulse Track Circuits'
					WHEN AZJ_SG_EQUIPTYPE = 'JS TRACK CIRCUIT' THEN 'Jointless Track Circuits'
					ELSE NULL
				END) AS [ASSET_TYPE_TRACK_CIRCUITS]
			,(CASE
					WHEN TechnicalObjectTypeDesc = 'Axle Counter' THEN 'Axle Counters'
					ELSE NULL
				END) AS [ASSET_TYPE_AXLE_COUNTERS]
			,(CASE
					WHEN AZJ_SG_EQUIPTYPE = 'DRAGGING EQUIPMENT DETECTOR' THEN 'Dragging Equipment Detector'
					ELSE NULL
				END) AS [ASSET_TYPE_DRAGGING_EQUIPMENT]
			,(CASE
					WHEN AZJ_SG_EQUIPGRP = 'ELECTRONIC WEIGHBRIDGE' THEN 'Weighbridges'
					ELSE NULL
				END) AS [ASSET_TYPE_WEIGHBRIDGES]
			,(CASE
					WHEN TechnicalObjectTypeDesc = 'Level Crossing' AND AZJ_SG_EQUIPTYPE LIKE '%camera%' THEN 'Level Crossings Cameras'
					ELSE NULL
				END) AS [ASSET_TYPE_LX_CAMERAS]
			,(CASE
					WHEN AZJ_SG_EQUIPTYPE = 'LX PROTECTION SYSTEM' THEN 'Over Height Level Crossing Protection'
					ELSE NULL
				END) AS [ASSET_TYPE_LX_PROTECTION]
			,(CASE
					WHEN AZJ_SG_SYSGRP = 'CQCN DATA NETWORK' AND (AZJ_SG_EQUIPGRP LIKE '%switch%' OR AZJ_SG_EQUIPGRP LIKE '%router%') THEN 'Data - LAN (Switch & Routers)'
					ELSE NULL
				END) AS [ASSET_TYPE_DATA_LAN]
			,(CASE
					WHEN AZJ_SG_SYSGRP = 'RADIO SYSTEMS' AND AZJ_SG_SYSTYPE = 'TETRA' THEN 'Radio Systems - TETRA'
					ELSE NULL
				END) AS [ASSET_TYPE_RADIO_SYSTEMS]
			,(CASE
					WHEN AZJ_SG_SYSGRP = 'RADIO SYSTEMS' AND AZJ_SG_SYSID LIKE '%ded%' THEN 'Radio DEDs'
					ELSE NULL
				END) AS [ASSET_TYPE_RADIO_DEDS]
			,(CASE
					WHEN AZJ_SG_EQUIPGRP LIKE '%antenna%' AND AZJ_SG_EQUIPTYPE LIKE '%pole%' THEN 'Radio Poles'
					ELSE NULL
				END) AS [ASSET_TYPE_RADIO_POLES]
			,(CASE
					WHEN TechnicalObjectTypeDesc = 'DMR' THEN 'Digital Microwave Radio (DMR)'
					ELSE NULL
				END) AS [ASSET_TYPE_DMR]
			,(CASE
					WHEN AZJ_SG_EQUIPGRP = 'SDH' OR AZJ_SG_EQUIPGRP = 'PDH' THEN 'Active Terminal Equipment (PDH, SDH)'
					ELSE NULL
				END) AS [ASSET_TYPE_TERMINAL_EQUIPMENT]
			,(CASE
					WHEN AZJ_SG_EQUIPTYPE = 'COMMS EQUIPMENT ROOM' THEN 'Communication Equipment Rooms'
					ELSE NULL
				END) AS [ASSET_TYPE_EQUIPMENT_ROOMS]
			,(CASE
					WHEN AZJ_SG_EQUIPGRP = 'HOUSING' AND WorkCenterDesc LIKE '%control systems%' THEN 'Communication Housings'
					ELSE NULL
				END) AS [ASSET_TYPE_COMMUNICATION_HOUSINGS]
			,(CASE
					WHEN FuncLocName LIKE '%50v battery%' THEN '50V DC Power Supplies'
					ELSE NULL
				END) AS [ASSET_TYPE_DC_POWER_SUPPLIES]
			,(CASE
					WHEN FuncLocName LIKE '%battery bank%' THEN 'DC Battery Banks'
					ELSE NULL
				END) AS [ASSET_TYPE_BATTERY_BANKS]
			,(CASE
					WHEN AZJ_SG_SYSTYPE = 'UTC' OR AZJ_SG_SYSTYPE = 'DTC' THEN 'UTC & DTC'
					ELSE NULL
				END) AS [ASSET_TYPE_UTC_AND_DTC]
			,(CASE
					WHEN [AZJ_SG_EQUIPGRP] = 'CABLES' AND [AZJ_SG_EQUIPTYPE] = 'SINGLEMODE O/FIBRE' OR [AZJ_SG_EQUIPTYPE] = 'SINGLEMODE OPGW CABLE' THEN 'New Fibre Optic Cable' --Should be 'Original Fibre Optic Cable (installed 1985)' based on install date, that isn't here... The old ones have 30-year life, so should be replaced by now if kept to schedule.
					ELSE NULL
				END) AS [ASSET_TYPE_CABLES]
			,(CASE
					WHEN [AZJ_SG_EQUIPTYPE] = 'GUYED STEEL LATTICE TOWER' OR [AZJ_SG_EQUIPTYPE] = 'STEEL LATTICE TOWER' THEN 'Tower (Radio or Microwave)'
					ELSE NULL
				END) AS [ASSET_TYPE_TOWER]
			,(CASE
					WHEN FuncLocID LIKE 'LX%' AND FuncLocID = FuncLocID6 THEN 'Level Crossings (Software)'
					ELSE NULL
				END) AS [ASSET_TYPE_LX_SOFTWARE]
			,(CASE
					WHEN AZJ_SG_SYSTYPE = 'HOUSINGS' AND ASSET_OWNER = 'AURIZON - NETWORK' AND WorkCenterDesc LIKE '%Control%' AND AZJ_SG_SYSID LIKE '%HOUSING%' THEN 'Communication Housings'
					ELSE NULL
				END) AS [ASSET_TYPE_COMMUNICATION_HOUSING]
		FROM [myANALYTICS_SP].[bronze.batch.belowrail.asset.electrical.ringfenced].[vw_FLOCElectrical]
		WHERE [UserStatusDesc]  = 'In Service'
	),

	DF8 AS(
		SELECT [FuncLocID]
			,[ASSET]
			,[ASSET_TYPE]
			,[FuncLocLinearLengthKM]
			,[LinearRefPattern]
		FROM
		(SELECT [FuncLocID]
				,[FuncLocLinearLengthKM]
				,[LinearRefPattern]
				,CAST([ASSET_TYPE_UPS] AS VARCHAR(100)) AS [ASSET_TYPE_UPS]
				,CAST([ASSET_TYPE_INTERLOCKINGS] AS VARCHAR(100)) AS [ASSET_TYPE_INTERLOCKINGS]
				,CAST([ASSET_TYPE_TRACK_CIRCUITS] AS VARCHAR(100)) AS [ASSET_TYPE_TRACK_CIRCUITS]
				,CAST([ASSET_TYPE_AXLE_COUNTERS] AS VARCHAR(100)) AS [ASSET_TYPE_AXLE_COUNTERS]
				,CAST([ASSET_TYPE_DRAGGING_EQUIPMENT] AS VARCHAR(100)) AS [ASSET_TYPE_DRAGGING_EQUIPMENT]
				,CAST([ASSET_TYPE_WEIGHBRIDGES] AS VARCHAR(100)) AS [ASSET_TYPE_WEIGHBRIDGES]
				,CAST([ASSET_TYPE_LX_CAMERAS] AS VARCHAR(100)) AS [ASSET_TYPE_LX_CAMERAS]
				,CAST([ASSET_TYPE_LX_PROTECTION] AS VARCHAR(100)) AS [ASSET_TYPE_LX_PROTECTION]
				,CAST([ASSET_TYPE_DATA_LAN] AS VARCHAR(100)) AS [ASSET_TYPE_DATA_LAN]
				,CAST([ASSET_TYPE_RADIO_SYSTEMS] AS VARCHAR(100)) AS [ASSET_TYPE_RADIO_SYSTEMS]
				,CAST([ASSET_TYPE_RADIO_DEDS] AS VARCHAR(100)) AS [ASSET_TYPE_RADIO_DEDS]
				,CAST([ASSET_TYPE_RADIO_POLES] AS VARCHAR(100)) AS [ASSET_TYPE_RADIO_POLES]
				,CAST([ASSET_TYPE_DMR] AS VARCHAR(100)) AS [ASSET_TYPE_DMR]
				,CAST([ASSET_TYPE_TERMINAL_EQUIPMENT] AS VARCHAR(100)) AS [ASSET_TYPE_TERMINAL_EQUIPMENT]
				,CAST([ASSET_TYPE_EQUIPMENT_ROOMS] AS VARCHAR(100)) AS [ASSET_TYPE_EQUIPMENT_ROOMS]
				,CAST([ASSET_TYPE_COMMUNICATION_HOUSINGS] AS VARCHAR(100)) AS [ASSET_TYPE_COMMUNICATION_HOUSINGS]
				,CAST([ASSET_TYPE_DC_POWER_SUPPLIES] AS VARCHAR(100)) AS [ASSET_TYPE_DC_POWER_SUPPLIES]
				,CAST([ASSET_TYPE_BATTERY_BANKS] AS VARCHAR(100)) AS [ASSET_TYPE_BATTERY_BANKS]
				,CAST([ASSET_TYPE_UTC_AND_DTC] AS VARCHAR(100)) AS [ASSET_TYPE_UTC_AND_DTC]
				,CAST([ASSET_TYPE_CABLES] AS VARCHAR(100)) AS [ASSET_TYPE_CABLES]
				,CAST([ASSET_TYPE_TOWER] AS VARCHAR(100)) AS [ASSET_TYPE_TOWER]
				,CAST([ASSET_TYPE_LX_SOFTWARE] AS VARCHAR(100)) AS [ASSET_TYPE_LX_SOFTWARE]
				,CAST([ASSET_TYPE_COMMUNICATION_HOUSING] AS VARCHAR(100)) AS [ASSET_TYPE_COMMUNICATION_HOUSING]
			FROM DF7) D
		UNPIVOT 
			(ASSET FOR ASSET_TYPE IN
				([ASSET_TYPE_UPS],
				[ASSET_TYPE_INTERLOCKINGS],
				[ASSET_TYPE_TRACK_CIRCUITS],
				[ASSET_TYPE_AXLE_COUNTERS],
				[ASSET_TYPE_DRAGGING_EQUIPMENT],
				[ASSET_TYPE_WEIGHBRIDGES],
				[ASSET_TYPE_LX_CAMERAS],
				[ASSET_TYPE_LX_PROTECTION],
				[ASSET_TYPE_DATA_LAN],
				[ASSET_TYPE_RADIO_SYSTEMS],
				[ASSET_TYPE_RADIO_DEDS],
				[ASSET_TYPE_RADIO_POLES],
				[ASSET_TYPE_DMR],
				[ASSET_TYPE_TERMINAL_EQUIPMENT],
				[ASSET_TYPE_EQUIPMENT_ROOMS],
				[ASSET_TYPE_COMMUNICATION_HOUSINGS],
				[ASSET_TYPE_DC_POWER_SUPPLIES],
				[ASSET_TYPE_BATTERY_BANKS],
				[ASSET_TYPE_UTC_AND_DTC],
				[ASSET_TYPE_CABLES],
				[ASSET_TYPE_TOWER],
				[ASSET_TYPE_LX_SOFTWARE],
				[ASSET_TYPE_COMMUNICATION_HOUSING])
			) AS unpvt
	),

	DF9 AS (
		SELECT [FuncLocID]
			,[FuncLocLinearLengthKM]
			,[LinearRefPattern]
			,(CASE
					WHEN FuncLocID LIKE 'LX%' AND FuncLocID = FuncLocID6 THEN 'Level Crossing (Hardware)'
					ELSE NULL
				END) AS [ASSET_TYPE_LX_HARDWARE]
		FROM [myANALYTICS_SP].[bronze.batch.belowrail.asset.operationalsystem.ringfenced].[vw_FLOCLevelCrossingExtended]
		WHERE [UserStatusDesc]  = 'In Service'
	),

	DF10 AS(
		SELECT [FuncLocID]
			,[ASSET]
			,[ASSET_TYPE]
			,[FuncLocLinearLengthKM]
			,[LinearRefPattern]
		FROM
		(SELECT [FuncLocID]
				,[FuncLocLinearLengthKM]
				,[LinearRefPattern]
				,CAST([ASSET_TYPE_LX_HARDWARE] AS VARCHAR(100)) AS [ASSET_TYPE_LX_HARDWARE]
			FROM DF9) D
		UNPIVOT 
			(ASSET FOR ASSET_TYPE IN
				([ASSET_TYPE_LX_HARDWARE])
			) AS unpvt
	),

	DF11 AS (
		SELECT [FuncLocID]
			,[FuncLocLinearLengthKM]
			,[LinearRefPattern]
			,(CASE
					WHEN AZJ_SG_SYSTYPE = 'INTERLOCKING' AND WorkCenterDesc LIKE '%Control%' THEN 'Processor Based Interlockings'
					ELSE NULL
				END) AS [ASSET_TYPE_INTERLOCKING]
		FROM [myANALYTICS_SP].[bronze.batch.belowrail.asset.signalling.ringfenced].[vw_FLOCSignal] 
		WHERE [UserStatusDesc]  = 'In Service'
	),

	DF12 AS(
		SELECT [FuncLocID]
			,[ASSET]
			,[ASSET_TYPE]
			,[FuncLocLinearLengthKM]
			,[LinearRefPattern]
		FROM
		(SELECT [FuncLocID]
				,[FuncLocLinearLengthKM]
				,[LinearRefPattern]
				,CAST([ASSET_TYPE_INTERLOCKING] AS VARCHAR(100)) AS [ASSET_TYPE_INTERLOCKING]
			FROM DF11) D
		UNPIVOT 
			(ASSET FOR ASSET_TYPE IN
				([ASSET_TYPE_INTERLOCKING])
			) AS unpvt
	),

	RESULT AS (
		SELECT * FROM DF2
		UNION ALL
		SELECT * FROM DF4
		UNION ALL
		SELECT * FROM DF6
		UNION ALL
		SELECT * FROM DF8
		UNION ALL
		SELECT * FROM DF10
		UNION ALL
		SELECT * FROM DF12
	)

	SELECT * FROM RESULT;
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
all_control_system_floc = pd.read_sql_query(sql_query, conn)

all_control_system_floc = all_control_system_floc[['FuncLocID', 'ASSET']]
all_control_system_floc['ASSET_GROUP'] = 'control_systems'

all_control_system_floc.rename(columns={'FuncLocID': 'floc_id'}, inplace=True)

# # # Display the DataFrame
# all_control_system_floc

C:\Users\R893859\AppData\Local\Temp\ipykernel_19160\502845613.py:384: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  all_control_system_floc = pd.read_sql_query(sql_query, conn)

In [9]:
# all_traction_power_equipment_floc
sql_query = """
    -- Traction Power Equipment Asset Renewal Python Replication in SQL.
    WITH DF1 AS (
        SELECT [FuncLocID]
            ,[FuncLocLinearLengthKM]
            ,[LinearRefPattern]
            ,(CASE 
                    WHEN AZJ_SG_EQUIPTYPE = 'HARMONIC FILTER' THEN 'Harmonic Filters'
                    ELSE NULL
                END) AS [ASSET_TYPE_FILTER]
            ,(CASE 
                    WHEN TechnicalObjectTypeDesc = 'Transformer' AND AZJ_SG_SYSGRP = 'TRACTION POWER SYSTEM' THEN 'Traction Power Supply Transformers'
                    ELSE NULL
                END) AS [ASSET_TYPE_TRANSFORMER]
            ,(CASE 
                    WHEN AZJ_SG_EQUIPTYPE = 'AUTOTRANSFORMER' THEN 'Autotransformers'
                    ELSE NULL
                END) AS [ASSET_TYPE_AUTOTRANSFORMER]
            ,(CASE 
                    WHEN AZJ_SG_EQUIPTYPE = 'AUXILARY SUPPLY TRANSFORMER' THEN 'Auxiliary Supply Transformers'
                    ELSE NULL
                END) AS [ASSET_TYPE_AUXILIARY_SUPPLY_TRANSFORMER]
            ,(CASE 
                    WHEN TechnicalObjectTypeDesc = 'HV Switchgear' AND AZJ_SG_SYSGRP = 'TRACTION POWER SYSTEM' THEN 'Traction Power Systems Switchgear'
                    ELSE NULL
                END) AS [ASSET_TYPE_SWITCHGEAR]
            ,(CASE 
                    WHEN TechnicalObjectTypeDesc = 'Isolators' THEN 'Isolator'
                    ELSE NULL
                END) AS [ASSET_TYPE_ISOLATOR]
            ,(CASE 
                    WHEN TechnicalObjectTypeDesc = 'Neutral Section' THEN 'Neutral Sections'
                    WHEN TechnicalObjectTypeDesc = 'Section Insulator' THEN 'Section Insulators'
                    ELSE NULL
                END) AS [ASSET_TYPE_SECTION]
            ,(CASE 
                    WHEN AZJ_SG_SYSGRP = 'TRACTION OVERHEAD SYSTEM' THEN 'Overhead Line System'
                    ELSE NULL
                END) AS [ASSET_TYPE_OVERHEAD]
            ,(CASE 
                    WHEN AZJ_SG_SYSGRP = 'SCADA' AND AZJ_SG_SYSTYPE = 'POWER SUPERVISORY' THEN 'Traction SCADA'
                    ELSE NULL
                END) AS [ASSET_TYPE_SCADA]
        FROM [myANALYTICS_SP].[bronze.batch.belowrail.asset.electrical.ringfenced].[vw_FLOCElectrical]
        WHERE [UserStatusDesc]  = 'In Service'
    ),

    DF2 AS(
        SELECT [FuncLocID]
            ,[ASSET]
            ,[ASSET_TYPE]
            ,[FuncLocLinearLengthKM]
            ,[LinearRefPattern]
        FROM
        (SELECT [FuncLocID]
                ,[FuncLocLinearLengthKM]
                ,[LinearRefPattern]
                ,CAST([ASSET_TYPE_FILTER] AS VARCHAR(100)) AS [ASSET_TYPE_FILTER]
                ,CAST([ASSET_TYPE_TRANSFORMER] AS VARCHAR(100)) AS [ASSET_TYPE_TRANSFORMER]
                ,CAST([ASSET_TYPE_AUTOTRANSFORMER] AS VARCHAR(100)) AS [ASSET_TYPE_AUTOTRANSFORMER]
                ,CAST([ASSET_TYPE_AUXILIARY_SUPPLY_TRANSFORMER] AS VARCHAR(100)) AS [ASSET_TYPE_AUXILIARY_SUPPLY_TRANSFORMER]
                ,CAST([ASSET_TYPE_SWITCHGEAR] AS VARCHAR(100)) AS [ASSET_TYPE_SWITCHGEAR]
                ,CAST([ASSET_TYPE_ISOLATOR] AS VARCHAR(100)) AS [ASSET_TYPE_ISOLATOR]
                ,CAST([ASSET_TYPE_SECTION] AS VARCHAR(100)) AS [ASSET_TYPE_SECTION]
                ,CAST([ASSET_TYPE_SECTION] AS VARCHAR(100)) AS [ASSET_TYPE_OVERHEAD]
                ,CAST([ASSET_TYPE_SCADA] AS VARCHAR(100)) AS [ASSET_TYPE_SCADA]
            FROM DF1) D
        UNPIVOT 
            (ASSET FOR ASSET_TYPE IN
                ([ASSET_TYPE_FILTER]
                ,[ASSET_TYPE_TRANSFORMER]
                ,[ASSET_TYPE_AUTOTRANSFORMER]
                ,[ASSET_TYPE_AUXILIARY_SUPPLY_TRANSFORMER]
                ,[ASSET_TYPE_SWITCHGEAR]
                ,[ASSET_TYPE_ISOLATOR]
                ,[ASSET_TYPE_SECTION]
                ,[ASSET_TYPE_OVERHEAD]
                ,[ASSET_TYPE_SCADA])
            ) AS unpvt
    ),

    DF3 AS (
        SELECT [FuncLocID]
            ,[FuncLocLinearLengthKM]
            ,[LinearRefPattern]
            ,(CASE 
                    WHEN Characteristic = 'ZPM_ISOLATOR_TYPE' AND ([Value] = 'MANUAL' OR [Value] = 'MOTORISED') THEN 'Motorised Isolator Motor Units'
                    ELSE NULL
                END) AS [ASSET_TYPE_MOTORISED_ISOLATORS]

        FROM [myANALYTICS_SP].[bronze.batch.belowrail.asset.ringfenced].[vw_FLOCEQUICharacteristics]
        WHERE [UserStatusDesc]  = 'In Service'
    ),

    DF4 AS(
        SELECT [FuncLocID]
            ,[ASSET]
            ,[ASSET_TYPE]
            ,[FuncLocLinearLengthKM]
            ,[LinearRefPattern]
        FROM
        (SELECT [FuncLocID]
                ,[FuncLocLinearLengthKM]
                ,[LinearRefPattern]
                ,CAST([ASSET_TYPE_MOTORISED_ISOLATORS] AS VARCHAR(100)) AS [ASSET_TYPE_MOTORISED_ISOLATORS]
            FROM DF3) D
        UNPIVOT 
            (ASSET FOR ASSET_TYPE IN
                ([ASSET_TYPE_MOTORISED_ISOLATORS])
            ) AS unpvt
    ),

    RESULT AS (
        SELECT * FROM DF2
        UNION ALL
        SELECT * FROM DF4
    )

    SELECT * FROM RESULT
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
all_traction_power_equipment_floc = pd.read_sql_query(sql_query, conn)

all_traction_power_equipment_floc = all_traction_power_equipment_floc[['FuncLocID', 'ASSET']]
all_traction_power_equipment_floc['ASSET_GROUP'] = 'traction_power_equipment'

all_traction_power_equipment_floc.rename(columns={'FuncLocID': 'floc_id'}, inplace=True)

# # # Display the DataFrame
# all_traction_power_equipment_floc

C:\Users\R893859\AppData\Local\Temp\ipykernel_19160\667763836.py:130: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  all_traction_power_equipment_floc = pd.read_sql_query(sql_query, conn)

In [11]:
# # Getting all FAR assets 'Asset Capitalized on' dates
# file_path = r'C:\Users\R893859\Aurizon Operations Limited\Data, Reporting & Analytics - DS08 - NSAP2\Data\Fixed Asset Register\09 - March 2024 FAR.xlsx'

# df1 = pd.read_excel(file_path)

# filtered_df = df1[df1['Company code'] == 5000]
# filtered_df = filtered_df[filtered_df['Functional loc.'].str.len() > 2]

# filtered_df['Asset Number'] = filtered_df['Asset Number'].astype(int)

# filtered_df['Order. dep. Start'] = pd.to_datetime(filtered_df['Order. dep. Start'], format='%d.%m.%Y')
# filtered_df['Asset Capitalized on'] = pd.to_datetime(filtered_df['Asset Capitalized on'], format='%d.%m.%Y')
# filtered_df['Asset First acq. on'] = pd.to_datetime(filtered_df['Asset First acq. on'], format='%d.%m.%Y')
# filtered_df['Asset Deactivation date'] = pd.to_datetime(filtered_df['Asset Deactivation date'], format='%d.%m.%Y', errors='coerce')

# filtered_df = filtered_df[
#     [
#         'Asset Number', 
#         'Sub number', 
#         'Asset Sub name', 
#         'Functional loc.', 
#         'LTD Cost', 
#         # 'Order. dep. Start',
#         'Asset Capitalized on',
#         'Asset Class text'
#         # 'Asset First acq. on'
#     ]
# ]
# # filtered_df = filtered_df[filtered_df['Company code'] == 'UNKNOWN']

# grouped_df = filtered_df.groupby(['Asset Number', 'Functional loc.', 'Asset Capitalized on', 'Asset Class text'], as_index=False)['LTD Cost'].sum()
# far_df = grouped_df[['Functional loc.', 'Asset Capitalized on', 'Asset Class text']]
# far_df.rename(columns={'Functional loc.': 'floc_id'}, inplace=True)

# far_df

In [12]:
# num_duplicates = far_df.duplicated('floc_id', keep=False).sum()

# print(f"Number of duplicate rows: {num_duplicates}")

# # Showing duplicates only:
# far_df[far_df.duplicated('floc_id', keep=False)].sort_values(by='floc_id')

In [13]:
# far_df['Asset Capitalized on'] = pd.to_datetime(far_df['Asset Capitalized on'])

# idx = far_df.groupby(['floc_id', 'Asset Class text'])['Asset Capitalized on'].idxmin()

# filtered_df = far_df.loc[idx]

# filtered_df = filtered_df.reset_index(drop=True)

# filtered_df

In [14]:
# num_duplicates = filtered_df.duplicated('floc_id', keep=False).sum()

# print(f"Number of duplicate rows: {num_duplicates}")

# # Showing duplicates only:
# filtered_df[filtered_df.duplicated('floc_id', keep=False)].sort_values(by='floc_id')

In [10]:
merged_df2 = pd.concat([merged_df1, all_structure_floc, all_civil_track_floc, all_civil_right_of_way_floc, all_control_system_floc, all_structure_floc, all_traction_power_equipment_floc], ignore_index=True)
merged_df2

,floc_id,startup_date,completion_date,ASSET,construction_year,ASSET_GROUP
0,ST000480-63,2014-01-01,NaN,NaN,NaT,NaN
1,ST000850-48,1994-01-01,NaN,NaN,NaT,NaN
2,ST000960-87,1987-01-01,NaN,NaN,NaT,NaN
3,ST008220-29,2011-11-16,NaN,NaN,NaT,NaN
4,ST003870-03,2013-01-01,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...
77624,ST000770-51,NaT,NaN,Motorised Isolator Motor Units,NaT,traction_power_equipment
77625,ST000770-53,NaT,NaN,Motorised Isolator Motor Units,NaT,traction_power_equipment
77626,ST000770-54,NaT,NaN,Motorised Isolator Motor Units,NaT,traction_power_equipment
77627,ST000770-72,NaT,NaN,Motorised Isolator Motor Units,NaT,traction_power_equipment
77628,ST000770-73,NaT,NaN,Motorised Isolator Motor Units,NaT,traction_power_equipment

In [11]:
# Getting all FLOC from [vw_Dim_FunctionalLocation] where CompanyCode = 5000
sql_query = """
    SELECT
        FLOC_STRNO_FunctionalLocation,
        FLOC_PLTXT_FunctionalLocationDescr,
        FLOC_EARTX_TechnicalObjectTypeDescr,
        FLOC_STORT_LocationDescr
    FROM [myANALYTICS_SP].[silver.dimension.enterprise.asset].[vw_Dim_FunctionalLocation]
	WHERE FLOC_BUKRS_CompanyCode = '5000'
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
all_floc_no_age = pd.read_sql_query(sql_query, conn)

# Display the DataFrame
all_floc_no_age

C:\Users\R893859\AppData\Local\Temp\ipykernel_19160\3742737230.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  all_floc_no_age = pd.read_sql_query(sql_query, conn)

,FLOC_STRNO_FunctionalLocation,FLOC_PLTXT_FunctionalLocationDescr,FLOC_EARTX_TechnicalObjectTypeDescr,FLOC_STORT_LocationDescr
0,N01-S002-C217-L0963,WulkarakaX - Yarraman,None,None
1,N01-S002-C232,Corridor: Petrie to Kippa Ring,None,None
2,N01-S010-C078-L0147,Auckland Point Angle,Corridor Objects,None
3,N01-S001-C127-L0331,Comalco B/L JCT - Fishermans Landing B/L,Corridor Objects,None
4,N01-S001-C233,Corridor: Comalco Balloon Loop,Corridor Objects,None
...,...,...,...,...
174657,N01-S014-C210,Corridor: Westgate to Quilpie,None,None
174658,N01-S014-C210-L0121,Westgate Fork,None,None
174659,N01-S014-C210-L0716,WestgateX - Cooladdi,None,None
174660,N01-S014-C210-L0717,CooladdiX - Quilpie,None,None
174661,N01-S014-C230,Corridor: Willowburn Yard,None,None

In [12]:
all_floc_with_age = pd.merge(all_floc_no_age, merged_df2, how='left', left_on='FLOC_STRNO_FunctionalLocation', right_on='floc_id')

all_floc_with_age = all_floc_with_age[['FLOC_STRNO_FunctionalLocation', 'FLOC_PLTXT_FunctionalLocationDescr', 'FLOC_EARTX_TechnicalObjectTypeDescr', 'FLOC_STORT_LocationDescr', 'ASSET', 'ASSET_GROUP', 'construction_year', 'startup_date', 'completion_date']]

all_floc_with_age.rename(columns={'ASSET': 'asset_type'}, inplace=True)
all_floc_with_age.rename(columns={'ASSET_GROUP': 'asset_group'}, inplace=True)

all_floc_with_age

,FLOC_STRNO_FunctionalLocation,FLOC_PLTXT_FunctionalLocationDescr,FLOC_EARTX_TechnicalObjectTypeDescr,FLOC_STORT_LocationDescr,asset_type,asset_group,construction_year,startup_date,completion_date
0,N01-S002-C217-L0963,WulkarakaX - Yarraman,None,None,NaN,NaN,NaT,NaT,NaN
1,N01-S002-C232,Corridor: Petrie to Kippa Ring,None,None,NaN,NaN,NaT,NaT,NaN
2,N01-S010-C078-L0147,Auckland Point Angle,Corridor Objects,None,NaN,NaN,NaT,NaT,NaN
3,N01-S001-C127-L0331,Comalco B/L JCT - Fishermans Landing B/L,Corridor Objects,None,NaN,NaN,NaT,NaT,NaN
4,N01-S001-C233,Corridor: Comalco Balloon Loop,Corridor Objects,None,NaN,NaN,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...
205910,N01-S014-C210,Corridor: Westgate to Quilpie,None,None,NaN,NaN,NaT,NaT,NaN
205911,N01-S014-C210-L0121,Westgate Fork,None,None,NaN,NaN,NaT,NaT,NaN
205912,N01-S014-C210-L0716,WestgateX - Cooladdi,None,None,NaN,NaN,NaT,NaT,NaN
205913,N01-S014-C210-L0717,CooladdiX - Quilpie,None,None,NaN,NaN,NaT,NaT,NaN
205914,N01-S014-C230,Corridor: Willowburn Yard,None,None,NaN,NaN,NaT,NaT,NaN

In [13]:
all_floc_with_age = all_floc_with_age.drop_duplicates()
all_floc_with_age

,FLOC_STRNO_FunctionalLocation,FLOC_PLTXT_FunctionalLocationDescr,FLOC_EARTX_TechnicalObjectTypeDescr,FLOC_STORT_LocationDescr,asset_type,asset_group,construction_year,startup_date,completion_date
0,N01-S002-C217-L0963,WulkarakaX - Yarraman,None,None,NaN,NaN,NaT,NaT,NaN
1,N01-S002-C232,Corridor: Petrie to Kippa Ring,None,None,NaN,NaN,NaT,NaT,NaN
2,N01-S010-C078-L0147,Auckland Point Angle,Corridor Objects,None,NaN,NaN,NaT,NaT,NaN
3,N01-S001-C127-L0331,Comalco B/L JCT - Fishermans Landing B/L,Corridor Objects,None,NaN,NaN,NaT,NaT,NaN
4,N01-S001-C233,Corridor: Comalco Balloon Loop,Corridor Objects,None,NaN,NaN,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...
205910,N01-S014-C210,Corridor: Westgate to Quilpie,None,None,NaN,NaN,NaT,NaT,NaN
205911,N01-S014-C210-L0121,Westgate Fork,None,None,NaN,NaN,NaT,NaT,NaN
205912,N01-S014-C210-L0716,WestgateX - Cooladdi,None,None,NaN,NaN,NaT,NaT,NaN
205913,N01-S014-C210-L0717,CooladdiX - Quilpie,None,None,NaN,NaN,NaT,NaT,NaN
205914,N01-S014-C230,Corridor: Willowburn Yard,None,None,NaN,NaN,NaT,NaT,NaN

In [39]:
filtered_df = all_floc_with_age[all_floc_with_age['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Substation']

unique_count = filtered_df['FLOC_STRNO_FunctionalLocation'].nunique()
print(f"Number of unique substation floc: {unique_count}")

filtered_df = all_floc_with_age[
    (all_floc_with_age['FLOC_EARTX_TechnicalObjectTypeDescr'] == 'Substation') & 
    (all_floc_with_age['construction_year'].notna() |
    all_floc_with_age['startup_date'].notna() |
    all_floc_with_age['completion_date'].notna())
]

unique_count = filtered_df['FLOC_STRNO_FunctionalLocation'].nunique()
print(f"Number of substation floc that has a floc age: {unique_count}")

Number of unique substation floc: 204
Number of substation floc that has a floc age: 71

In [40]:
filtered_df = all_floc_with_age[all_floc_with_age['asset_group'] == 'civil_structure']

unique_count = filtered_df['FLOC_STRNO_FunctionalLocation'].nunique()
print(f"Number of unique structure floc: {unique_count}")

filtered_df = all_floc_with_age[
    (all_floc_with_age['asset_group'] == 'civil_structure') & 
    (all_floc_with_age['construction_year'].notna() |
    all_floc_with_age['startup_date'].notna() |
    all_floc_with_age['completion_date'].notna())
]

unique_count = filtered_df['FLOC_STRNO_FunctionalLocation'].nunique()
print(f"Number of structure floc that has a floc age: {unique_count}")

Number of unique structure floc: 3641
Number of structure floc that has a floc age: 3605

In [42]:
filtered_df = all_floc_with_age[all_floc_with_age['asset_group'].isin(['control_systems', 'traction_power_equipment'])]

unique_count = filtered_df['FLOC_STRNO_FunctionalLocation'].nunique()
print(f"Number of unique electrical floc: {unique_count}")

filtered_df = all_floc_with_age[
    (all_floc_with_age['asset_group'].isin(['control_systems', 'traction_power_equipment'])) & 
    (all_floc_with_age['construction_year'].notna() |
    all_floc_with_age['startup_date'].notna() |
    all_floc_with_age['completion_date'].notna())
]

unique_count = filtered_df['FLOC_STRNO_FunctionalLocation'].nunique()
print(f"Number of electrical floc that has a floc age: {unique_count}")

Number of unique electrical floc: 15804
Number of electrical floc that has a floc age: 0

In [31]:
# Get the file that contain all technical object types (that we care about), linked with maint activities (that we care about), this file were created by Jane
file_path = r'C:\Users\R893859\Aurizon Operations Limited\Data, Reporting & Analytics - DS08 - NSAP2\Data\Maintenance Policy Modelling\Map Products to Technical Objects\MaintenanceActivityTypes.xlsx'
maintenance_activity_type_df = pd.read_excel(file_path)

# Filter that df so it only include the activities we perform periodically (not fix on fail,...)
filtered_df = maintenance_activity_type_df[maintenance_activity_type_df['Ignore'] != 1]

# Create a set that contain all the unique technical object types in TechnicalObjects column (Alltechnical object types that Jane filled in)
unique_technical_objects = set()
for items in filtered_df['TechnicalObjects']:
    unique_technical_objects.update(item.strip() for item in items.split(', '))

unique_count = all_floc_with_age[all_floc_with_age['FLOC_EARTX_TechnicalObjectTypeDescr'].isin(unique_technical_objects)]['FLOC_STRNO_FunctionalLocation'].nunique()

print(f"Number of unique floc with TechnicalObjectTypeDescr: {unique_count}")

# Filter the DataFrame to include only rows where FLOC_EARTX_TechnicalObjectTypeDescr is the ones that we care about (unique_technical_objects), created above
filtered_df = all_floc_with_age[all_floc_with_age['FLOC_EARTX_TechnicalObjectTypeDescr'].isin(unique_technical_objects)]

# Further filter to include rows where at least one of the datetime columns is not null
filtered_df = filtered_df[
    filtered_df['construction_year'].notna() | 
    filtered_df['startup_date'].notna() | 
    filtered_df['completion_date'].notna()
]

# Count the number of unique values in the FLOC_STRNO_FunctionalLocation column
unique_count = filtered_df['FLOC_STRNO_FunctionalLocation'].nunique()

print(f"Number of unique floc with TechnicalObjectTypeDescr (that we care about) AND has a floc_age: {unique_count}")

Number of unique floc with TechnicalObjectTypeDescr: 51137
Number of unique floc with TechnicalObjectTypeDescr AND has a floc_age: 16908

In [36]:
filtered_df = all_floc_with_age[all_floc_with_age['asset_group'].notna()]

unique_count = filtered_df['FLOC_STRNO_FunctionalLocation'].nunique()
print(f"Number of unique floc that were identified by Mike: {unique_count}")

filtered_df = all_floc_with_age[
    (all_floc_with_age['asset_group'].notna()) & 
    (all_floc_with_age['construction_year'].notna() |
    all_floc_with_age['startup_date'].notna() |
    all_floc_with_age['completion_date'].notna())
]

unique_count = filtered_df['FLOC_STRNO_FunctionalLocation'].nunique()
print(f"Number of unique floc that were identified by Mike AND has a floc age: {unique_count}")

Number of unique floc that were identified by Mike: 28786
Number of unique floc that were identified by Mike AND has a floc age: 3605

In [20]:
# duplicate_rows = all_floc_with_age[all_floc_with_age.duplicated()]

# duplicate_rows.sort_values(by='FLOC_STRNO_FunctionalLocation')

In [15]:
# all_floc_with_age.to_excel(r'C:\Users\R893859\Aurizon Operations Limited\Data, Reporting & Analytics - DS08 - NSAP2\Data\Floc Age\floc_age_without_FAR.xlsx', index=False)

In [22]:
# C:\Users\R893859\Aurizon Operations Limited\Data, Reporting & Analytics - DS08 - NSAP2\Data\Floc Age