In [6]:
import pandas as pd
import pyodbc

# Getting all startupdate from vw_Dim_Equipment_IncStatupDate
sql_query = """
	SELECT
		[EQUI_STRNO_FunctionalLocation]
		,[EQUI_EQUNR_Equipment]
		,[EQUI_EQKTX_EquipmentDescr]
		,[EQUI_EQART_TechnicalObjectType]
		,[EQUI_EARTX_TechnicalObjectTypeDescr]
		,[EQUI_STRNO_FunctionalLocation]
		,[EQUI_ATWRT_OverhaulDate]
		,[EQUI_INBDT_StartupDate]
	FROM [myANALYTICS_SP].[workarea.silver.dimension.enterprise.asset].[vw_Dim_Equipment_IncStatupDate]
	WHERE
		[EQUI_INBDT_StartupDate] <> 0
		AND [EQUI_BUKRS_CompanyCode] = '5000'
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
df_start_up_date1 = pd.read_sql_query(sql_query, conn)

# file_path = 'csv/average_cost_per_maint_activity_all.csv'
# df_avg_cost_per_maint_activity.to_csv(file_path, index=True)

# Display the DataFrame
df_start_up_date1

C:\Users\r893859\AppData\Local\Temp\ipykernel_15760\1788882835.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_start_up_date1 = pd.read_sql_query(sql_query, conn)

,EQUI_STRNO_FunctionalLocation,EQUI_EQUNR_Equipment,EQUI_EQKTX_EquipmentDescr,EQUI_EQART_TechnicalObjectType,EQUI_EARTX_TechnicalObjectTypeDescr,EQUI_STRNO_FunctionalLocation,EQUI_ATWRT_OverhaulDate,EQUI_INBDT_StartupDate
0,LX001814,60013347,LX_CONTROLS LX001814 AT 61.208KM,30040,LX_CONTROLS,LX001814,None,20150101
1,LX001814,60012710,LX_OTHER_DETAILS LX001814 AT 61.208KM,30095,LX_OTHER_DETAILS,LX001814,None,20150101
2,LX001814,60012095,LX_VOLUMES LX001814 AT 61.208KM,30090,LX_VOLUMES,LX001814,None,20150101
3,LX001814,60011654,LX_VISIBILITY LX001814 AT 61.208KM,30080,LX_VISIBILITY,LX001814,None,20150101
4,LX001814,60011029,LX_PED_DETAILS LX001814 AT 61.208KM,30070,LX_PED_DETAILS,LX001814,None,20150101
...,...,...,...,...,...,...,...,...
15087,None,10199990,KBC137 - Combination Tool (Stihl),PLTBCUT,Plant: Brush Cutter,None,None,20120210
15088,None,10152953,UEG001 - MOBILE LIGHTING PLANT (935QMT),PLTGNRT,Plant: Generator,None,None,20060614
15089,None,50004080,440MDG - R/R Toyota Landcruiser (RRV812),L/COM,Light Commercial,None,None,20110501
15090,None,10155158,KEL020 - WHEEL LOADER (JCB) Rego:C53428,EMQELDR,E/Moving: End Loader,None,None,20070530
15091,None,10152995,UWP001 - WATER PRESSURE CLEANER,WATRPMP,Water Pumping Unit,None,None,20060811

In [7]:
df_start_up_date1.isna().sum()

EQUI_STRNO_FunctionalLocation              9
EQUI_EQUNR_Equipment                       0
EQUI_EQKTX_EquipmentDescr                  0
EQUI_EQART_TechnicalObjectType             0
EQUI_EARTX_TechnicalObjectTypeDescr        0
EQUI_STRNO_FunctionalLocation              9
EQUI_ATWRT_OverhaulDate                15092
EQUI_INBDT_StartupDate                     0
dtype: int64

In [9]:
# Getting all startupdate from vw_Dim_FunctionalLocationStartupDate
sql_query = """
    SELECT
        [FLOC_STRNO_FunctionalLocation]
        ,[FLOC_PLTXT_FunctionalLocationDescr]
        ,[FLOC_EQART_TechnicalObjectType]
        ,[FLOC_EARTX_TechnicalObjectTypeDescr]
        ,[FLOC_STRNO_SuperiorFunctionalLocation]
        ,[FLOC_STORT_Location]
        ,[FLOC_STORT_LocationDescr]
        ,[IFLOT_DATAB_StartupDate]
    FROM [myANALYTICS_SP].[workarea.silver.dimension.enterprise.asset].[vw_Dim_FunctionalLocationStartupDate]
    WHERE
        IFLOT_DATAB_StartupDate <> 0
        AND [FLOC_BUKRS_CompanyCode] = '5000'
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
df_start_up_date2 = pd.read_sql_query(sql_query, conn)

# file_path = 'csv/average_cost_per_maint_activity_all.csv'
# df_avg_cost_per_maint_activity.to_csv(file_path, index=True)

# Display the DataFrame
df_start_up_date2

C:\Users\r893859\AppData\Local\Temp\ipykernel_15760\3049478296.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_start_up_date2 = pd.read_sql_query(sql_query, conn)

,FLOC_STRNO_FunctionalLocation,FLOC_PLTXT_FunctionalLocationDescr,FLOC_EQART_TechnicalObjectType,FLOC_EARTX_TechnicalObjectTypeDescr,FLOC_STRNO_SuperiorFunctionalLocation,FLOC_STORT_Location,FLOC_STORT_LocationDescr,IFLOT_DATAB_StartupDate
0,ST001350-01,BALOOK-WANDOO ATS - AT1,70110,Transformer,ST001350,BA0029,Balook-Wandoo,20180523
1,ST001360-15,BGE-AT0 ECO Phone,PHONE,Phone,ST001360,BL0047,Blackridge,19860101
2,ST001360-01,BLACKRIDGE ATS - AT1,70110,Transformer,ST001360,BL0047,Blackridge,20200521
3,ST001360-11,BGE-AT0-YBAT-01,BATTERY,Battery,ST001360,BL0047,Blackridge,20141130
4,ST001360-17,BGE-AT0-DDW225-01,60400,Network Transciever,ST001360,BL0047,Blackridge,20170131
...,...,...,...,...,...,...,...,...
25837,SQ030863,851/6 Motorised Isolator,70120,Isolators,None,BL0056,Bluff,20190901
25838,SQ030862,851/5 Motorised Isolator,70120,Isolators,None,BL0056,Bluff,20190901
25839,SQ030861,842/3 Motorised Isolator,70120,Isolators,None,DU0136,Duaringa,20190901
25840,SQ030860,841/2 Motorised Isolator,70120,Isolators,None,DU0136,Duaringa,20190901
25841,SQ030859,831/2 Motorised Isolator,70120,Isolators,None,ED0151,Edungalba,20190901

In [10]:
df_start_up_date2.isna().sum()

FLOC_STRNO_FunctionalLocation              0
FLOC_PLTXT_FunctionalLocationDescr         0
FLOC_EQART_TechnicalObjectType             0
FLOC_EARTX_TechnicalObjectTypeDescr      105
FLOC_STRNO_SuperiorFunctionalLocation     46
FLOC_STORT_Location                        0
FLOC_STORT_LocationDescr                 536
IFLOT_DATAB_StartupDate                    0
dtype: int64

In [11]:
# Getting all FLOC from [vw_Dim_FunctionalLocation] where CompanyCode = 5000
sql_query = """
    SELECT
        FLOC_TPLNR_FunctionalLocationInternalKey,
        FLOC_STRNO_FunctionalLocation,
        FLOC_PLTXT_FunctionalLocationDescr,
        FLOC_TYPTX_FunctionalLocationCategoryDescr,
        FLOC_EQART_TechnicalObjectType,
        FLOC_EARTX_TechnicalObjectTypeDescr,
        FLOC_BUKRS_CompanyCode,
        FLOC_STORT_Location,
        FLOC_STORT_LocationDescr
    FROM [myANALYTICS_SP].[silver.dimension.enterprise.asset].[vw_Dim_FunctionalLocation]
	WHERE FLOC_BUKRS_CompanyCode = '5000'
	ORDER BY FLOC_STRNO_FunctionalLocation
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
df_all_floc = pd.read_sql_query(sql_query, conn)

# Display the DataFrame
df_all_floc

C:\Users\r893859\AppData\Local\Temp\ipykernel_15760\859435568.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_all_floc = pd.read_sql_query(sql_query, conn)

,FLOC_TPLNR_FunctionalLocationInternalKey,FLOC_STRNO_FunctionalLocation,FLOC_PLTXT_FunctionalLocationDescr,FLOC_TYPTX_FunctionalLocationCategoryDescr,FLOC_EQART_TechnicalObjectType,FLOC_EARTX_TechnicalObjectTypeDescr,FLOC_BUKRS_CompanyCode,FLOC_STORT_Location,FLOC_STORT_LocationDescr
0,?0100000000000387769,AC-01CH,CALLEMONDAH BLUE ROAD 1,Track,10003,Yard Track,5000,CA0089,Callemondah
1,?0100000000000365741,AC-01JN,Jilalan Provisioning 1,Track,10003,Yard Track,5000,JI0204,Jilalan
2,?0100000000000366347,AC-01JN-JNJN,Jilalan Provisioning 1,Track,999999,Lvl 3 Segmentation,5000,JI0204,Jilalan
3,?0100000000000377748,AC-01NA,NOGOA YARD BLUE ROAD TRACK 1,Track,10003,Yard Track,5000,NO0275,Nogoa-Yamala
4,?0100000000000387811,AC-01PA,PARANA BLUE ROAD MAINLINE,Track,10001,Main Line,5000,PA0289,Parana
...,...,...,...,...,...,...,...,...,...
174139,?0100000000000253349,WL000203,Baralaba WB Strain Gauge Equip 4.225Km,Telecommunications,40000,Wayleave Objects,5000,BA0032,Baralaba
174140,?0100000000000253351,WL000204,Baralaba WB Location Box 4.225Km,Telecommunications,40000,Wayleave Objects,5000,BA0032,Baralaba
174141,?0100000000000253372,WL000205,Baralaba WB Location Box 4.165Km,Telecommunications,40000,Wayleave Objects,5000,BA0032,Baralaba
174142,?0100000000000264822,WL999999,Electric WLNL 01CR BYAA16.652Km,Bridges and other Structures,40000,Wayleave Objects,5000,AR0021,Armuna-Buckley
174143,?0100000000000265380,XX100013-01,Bridge 9.280km TRACK 1,Bridges and other Structures,20010,Bridges,5000,,None

In [12]:
df_all_floc.duplicated(subset=['FLOC_STRNO_FunctionalLocation']).sum()

0