In [44]:
import pandas as pd
import pyodbc
from datetime import datetime

In [2]:
sql_query = """
    -- all WO and their flocid
    SELECT
        [WorkOrderNumber],
        [OrderType],
        [CompanyCode],
        [FunctionLocation],
        CASE
            WHEN [TechCompletionDate] IS NULL THEN [BasicFinishDate]
            ELSE [TechCompletionDate]
        END AS 'CompletionDate',
        [MaintenanceActivityType],
        [MaintenanceActivityTypeDesc],
        [MainUserStatus],
        [MainUserStatusDesc],
        [ActualTotalCost]
    FROM [myANALYTICS_SP].[bronze.batch.belowrail.asset.ringfenced].[vw_WorkOrder]
    WHERE
        OrderType = 'MW04'
        AND CompanyCode = '5000'
        AND MainUserStatusDesc = 'Practically Completed'
        AND ActualTotalCost IS NOT NULL
        AND ActualTotalCost > 0
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';DATABASE=myANALYTICS_SP;Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
df1 = pd.read_sql_query(sql_query, conn)

# Display the DataFrame
df1

C:\Users\R893859\AppData\Local\Temp\ipykernel_27668\822512791.py:33: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = pd.read_sql_query(sql_query, conn)

,WorkOrderNumber,OrderType,CompanyCode,FunctionLocation,CompletionDate,MaintenanceActivityType,MaintenanceActivityTypeDesc,MainUserStatus,MainUserStatusDesc,ActualTotalCost
0,000080078607,MW04,5000,TO000754,2017-06-28,C16,Turnout Renew Maj Civil Parts,PCOM,Practically Completed,14495.32
1,000080078613,MW04,5000,LU000040,2017-06-26,C14,Ballast Excavator U/C Major,PCOM,Practically Completed,2291.71
2,000080078614,MW04,5000,LU000034,2017-09-14,C14,Ballast Excavator U/C Major,PCOM,Practically Completed,2036.69
3,000080078615,MW04,5000,LU000033,2017-06-26,C14,Ballast Excavator U/C Major,PCOM,Practically Completed,1316.68
4,000080078616,MW04,5000,LU000035,2017-06-26,C14,Ballast Excavator U/C Major,PCOM,Practically Completed,1316.69
...,...,...,...,...,...,...,...,...,...,...
9744,000080114701,MW04,5000,BW-01ML,2023-11-16,C14,Ballast Excavator U/C Major,PCOM,Practically Completed,150877.32
9745,000080114702,MW04,5000,BW-08ML,2024-03-25,C14,Ballast Excavator U/C Major,PCOM,Practically Completed,145858.85
9746,000080114706,MW04,5000,LX003196,2023-12-28,C58,Level Xing Refurb/Renew,PCOM,Practically Completed,9966.11
9747,000080114707,MW04,5000,TO000315,2023-12-04,C13,Ballast Undercut Full Turnout,PCOM,Practically Completed,1312.38
9748,000080114708,MW04,5000,LX020243,2024-01-24,C58,Level Xing Refurb/Renew,PCOM,Practically Completed,4767.82

In [20]:
# Getting all FLOC from [vw_Dim_FunctionalLocation] where CompanyCode = 5000
sql_query = """
    SELECT
        FLOC_TPLNR_FunctionalLocationInternalKey,
        FLOC_STRNO_FunctionalLocation,
        FLOC_PLTXT_FunctionalLocationDescr,
        FLOC_TYPTX_FunctionalLocationCategoryDescr,
        FLOC_EQART_TechnicalObjectType,
        FLOC_EARTX_TechnicalObjectTypeDescr,
        FLOC_BUKRS_CompanyCode,
        FLOC_STORT_Location,
        FLOC_STORT_LocationDescr
    FROM [myANALYTICS_SP].[silver.dimension.enterprise.asset].[vw_Dim_FunctionalLocation]
	WHERE FLOC_BUKRS_CompanyCode = '5000'
	ORDER BY FLOC_STRNO_FunctionalLocation
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
all_floc = pd.read_sql_query(sql_query, conn)

# Display the DataFrame
all_floc

C:\Users\R893859\AppData\Local\Temp\ipykernel_27668\2885297627.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  all_floc = pd.read_sql_query(sql_query, conn)

,FLOC_TPLNR_FunctionalLocationInternalKey,FLOC_STRNO_FunctionalLocation,FLOC_PLTXT_FunctionalLocationDescr,FLOC_TYPTX_FunctionalLocationCategoryDescr,FLOC_EQART_TechnicalObjectType,FLOC_EARTX_TechnicalObjectTypeDescr,FLOC_BUKRS_CompanyCode,FLOC_STORT_Location,FLOC_STORT_LocationDescr
0,?0100000000000387769,AC-01CH,CALLEMONDAH BLUE ROAD 1,Track,10003,Yard Track,5000,CA0089,Callemondah
1,?0100000000000365741,AC-01JN,Jilalan Provisioning 1,Track,10003,Yard Track,5000,JI0204,Jilalan
2,?0100000000000366347,AC-01JN-JNJN,Jilalan Provisioning 1,Track,999999,Lvl 3 Segmentation,5000,JI0204,Jilalan
3,?0100000000000377748,AC-01NA,NOGOA YARD BLUE ROAD TRACK 1,Track,10003,Yard Track,5000,NO0275,Nogoa-Yamala
4,?0100000000000387811,AC-01PA,PARANA BLUE ROAD MAINLINE,Track,10001,Main Line,5000,PA0289,Parana
...,...,...,...,...,...,...,...,...,...
174381,?0100000000000253349,WL000203,Baralaba WB Strain Gauge Equip 4.225Km,Telecommunications,40000,Wayleave Objects,5000,BA0032,Baralaba
174382,?0100000000000253351,WL000204,Baralaba WB Location Box 4.225Km,Telecommunications,40000,Wayleave Objects,5000,BA0032,Baralaba
174383,?0100000000000253372,WL000205,Baralaba WB Location Box 4.165Km,Telecommunications,40000,Wayleave Objects,5000,BA0032,Baralaba
174384,?0100000000000264822,WL999999,Electric WLNL 01CR BYAA16.652Km,Bridges and other Structures,40000,Wayleave Objects,5000,AR0021,Armuna-Buckley
174385,?0100000000000265380,XX100013-01,Bridge 9.280km TRACK 1,Bridges and other Structures,20010,Bridges,5000,,None

In [28]:
sql_query = """
    -- Converting Civil Structures Asset Renewal from Python to SQL
    WITH DF1 AS(
        SELECT [FuncLocID]
            ,[STRUCTURE_LENGTH]
            ,[YEAR_OF_CONSTRUCTION]
            ,[LinearRefPattern]
            ,(CASE
                    WHEN [ASSET_CLASS_TYPE] = 'BRIDGE' AND [SPAN_MATERIAL] = 'STEEL' THEN 'Steel Bridge'
                    WHEN [ASSET_CLASS_TYPE] = 'BRIDGE' AND [SPAN_MATERIAL] = 'TIMBER' THEN 'Timber Bridge'
                    ELSE NULL
                END) AS [Asset_Type_Bridge]
            ,(CASE
                    WHEN [STRUCTURE_TYPE] = 'REINFORCED CONCRETE BOXCULVERT' AND CAST(SUBSTRING(CAST([YEAR_OF_CONSTRUCTION] AS VARCHAR), 1, 4) AS FLOAT) < 2000 THEN 'Reinforced Concrete Box Culvert (RCBC) prior to year 2000'
                    WHEN [STRUCTURE_TYPE] = 'REINFORCED CONCRETE BOXCULVERT' AND CAST(SUBSTRING(CAST([YEAR_OF_CONSTRUCTION] AS VARCHAR), 1, 4) AS FLOAT) >= 2000 THEN 'Reinforced Concrete Box Culvert (RCBC) designed to AS1597'
                    ELSE NULL
                END) AS Asset_Type_Boxculvert
            ,(CASE 
                    WHEN [STRUCTURE_TYPE] = 'REINFORCED PIPE CULVERT' THEN 'Reinforced Concrete Pipe (RCP)'
                    WHEN [STRUCTURE_TYPE] = 'CORRUGATED METAL PIPE' THEN 'Corrugated Metal Pipe (CMP)'
                    WHEN [STRUCTURE_TYPE] != 'REINFORCED PIPE CULVERT' AND [SPAN_TYPE] = 'PIPE CULVERT' AND SPAN_MATERIAL LIKE '%CONCRETE%' THEN 'Concrete Pipe (Unreinforced)'
                    ELSE NULL
                END) AS [Asset_Type_Pipe]
            ,(CASE 
                    WHEN [SPAN_MATERIAL] = 'CAST-IN-SITU CONCRETE' THEN 'Concrete In situ Arch'
                    ELSE NULL
                END) AS [Asset_Type_Arch]
            ,(CASE 
                    WHEN [FuncLocID] LIKE 'RW%' THEN 'Concrete Retaining Wall'
                    ELSE NULL
                END) AS [Asset_Type_Wall]
            ,(CASE 
                    WHEN SPAN_MATERIAL = 'STEEL' AND STRUCTURE_USAGE = 'PEDESTRIAN' AND TechnicalObjectTypeDesc = 'Bridges' THEN 'Pedestrian Overbridge (Steel)'
                    ELSE NULL
                END) AS [Asset_Type_Overbridge]
        FROM [myANALYTICS_SP].[bronze.batch.belowrail.asset.civil.structure.ringfenced].[vw_FLOCStructure]
        WHERE 1=1
        AND [UserStatusDesc]  = 'In Service'
    ),

    DF2 AS(
        SELECT [FuncLocID]
            ,[ASSET]
            ,[ASSET_TYPE]
            ,[STRUCTURE_LENGTH]
            ,[YEAR_OF_CONSTRUCTION]
            ,[LinearRefPattern]
        FROM
        (SELECT [FuncLocID]
                ,[STRUCTURE_LENGTH]
                ,[YEAR_OF_CONSTRUCTION]
                ,[LinearRefPattern]
                ,CAST([Asset_Type_Bridge] AS VARCHAR(100)) AS [Asset_Type_Bridge]
                ,CAST([Asset_Type_Boxculvert] AS VARCHAR(100)) AS [Asset_Type_Boxculvert]
                ,CAST([Asset_Type_Pipe] AS VARCHAR(100)) AS [Asset_Type_Pipe]
                ,CAST([Asset_Type_Arch] AS VARCHAR(100)) AS [Asset_Type_Arch]
                ,CAST([Asset_Type_Wall] AS VARCHAR(100)) AS [Asset_Type_Wall]
                ,CAST([Asset_Type_Overbridge] AS VARCHAR(100)) AS [Asset_Type_Overbridge]
            FROM DF1) D
        UNPIVOT 
            (ASSET FOR ASSET_TYPE IN
                ([Asset_Type_Bridge]
                ,[Asset_Type_Boxculvert]
                ,[Asset_Type_Pipe]
                ,[Asset_Type_Arch]
                ,[Asset_Type_Wall]
                ,[Asset_Type_Overbridge])
            ) AS unpvt
    )

    SELECT * FROM DF2;
"""

# Define your server name
server_name = 'myanalytics.aurizon.com.au'

# Establish a connection using Windows Authentication
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server_name + ';DATABASE=myANALYTICS_SP;Trusted_Connection=yes;')

# Execute the SQL query and load the result into a pandas DataFrame
df2_no_desc = pd.read_sql_query(sql_query, conn)

df2_no_desc

C:\Users\R893859\AppData\Local\Temp\ipykernel_27668\2128054090.py:82: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2_no_desc = pd.read_sql_query(sql_query, conn)

,FuncLocID,ASSET,ASSET_TYPE,STRUCTURE_LENGTH,YEAR_OF_CONSTRUCTION,LinearRefPattern
0,BR101653,Concrete In situ Arch,Asset_Type_Arch,15,20141115,BW-21YR
1,BR101714,Steel Bridge,Asset_Type_Bridge,9.5,19730101,BW-14ML
2,BR201137,Steel Bridge,Asset_Type_Bridge,36,20210101,GA-01ML
3,BR201137,Pedestrian Overbridge (Steel),Asset_Type_Overbridge,36,20210101,GA-01ML
4,BR201174,Concrete In situ Arch,Asset_Type_Arch,23.4,19710101,GA-01BA
...,...,...,...,...,...,...
3851,RW000008,Concrete Retaining Wall,Asset_Type_Wall,8,19000101,BW-12ML
3852,RW000001,Concrete Retaining Wall,Asset_Type_Wall,101,None,BW-01ML
3853,RW000002,Concrete Retaining Wall,Asset_Type_Wall,32,None,NC-02ML
3854,RW000004,Concrete Retaining Wall,Asset_Type_Wall,None,19000101,BW-12ML
3855,RW000003,Concrete Retaining Wall,Asset_Type_Wall,0,None,NC-02ML

In [32]:
df2 = pd.merge(df2_no_desc, all_floc, how='left', left_on='FuncLocID', right_on='FLOC_STRNO_FunctionalLocation')
df2 = df2[['FuncLocID', 'FLOC_PLTXT_FunctionalLocationDescr', 'ASSET', 'FLOC_EARTX_TechnicalObjectTypeDescr', 'FLOC_STORT_LocationDescr']]
df2.rename(columns={'ASSET': 'ASSET_TYPE'}, inplace=True)

# Specify the file path and sheet name
file_path = '../xlsx/structure_renewal.xlsx'
sheet_name = 'all_structures'

# Write the DataFrame to a specific sheet in the Excel file
with pd.ExcelWriter(file_path, engine='openpyxl', mode='w') as writer:  # mode='a' for append, use mode='w' to write a new file
    df2.to_excel(writer, sheet_name=sheet_name, index=False)

df2

,FuncLocID,FLOC_PLTXT_FunctionalLocationDescr,ASSET_TYPE,FLOC_EARTX_TechnicalObjectTypeDescr,FLOC_STORT_LocationDescr
0,BR101653,Bridge 2.200km CHCH Golding Loop,Concrete In situ Arch,Bridges,Clinton
1,BR101714,Bridge 2.980km KHAR,Steel Bridge,Bridges,Koorilgah
2,BR201137,Bridge 20.280km JBJB Rail,Steel Bridge,Bridges,Jilalan
3,BR201137,Bridge 20.280km JBJB Rail,Pedestrian Overbridge (Steel),Bridges,Jilalan
4,BR201174,Bridge 1.890km HPHP Rail,Concrete In situ Arch,Bridges,Hay Point
...,...,...,...,...,...
3851,RW000008,Retaining Wall 7.660km RHS SSCU,Concrete Retaining Wall,Retaining Walls,Curragh
3852,RW000001,Retaining Wall 536.247km GEGE,Concrete Retaining Wall,Retaining Walls,Callemondah
3853,RW000002,Retaining Wall 528.496km GEGE,Concrete Retaining Wall,Retaining Walls,Callemondah
3854,RW000004,Retaining Wall 0.150km RHS SSCU,Concrete Retaining Wall,Retaining Walls,Curragh
3855,RW000003,Retaining Wall 528.549km GEGE,Concrete Retaining Wall,Retaining Walls,Callemondah

In [56]:
unique_count = df2['FuncLocID'].nunique()
print(f"We can classify: {unique_count} unique structure FLOCID from [myANALYTICS_SP].[bronze.batch.belowrail.asset.civil.structure.ringfenced].[vw_FLOCStructure] view")

We can classify: 3643 unique structure FLOCID from [myANALYTICS_SP].[bronze.batch.belowrail.asset.civil.structure.ringfenced].[vw_FLOCStructure] view

:

In [34]:
merged_df = pd.merge(df1, df2, how='left', left_on='FunctionLocation', right_on='FuncLocID')
merged_df = merged_df[merged_df['ASSET_TYPE'].notna()]

merged_df

,WorkOrderNumber,OrderType,CompanyCode,FunctionLocation,CompletionDate,MaintenanceActivityType,MaintenanceActivityTypeDesc,MainUserStatus,MainUserStatusDesc,ActualTotalCost,FuncLocID,FLOC_PLTXT_FunctionalLocationDescr,ASSET_TYPE,FLOC_EARTX_TechnicalObjectTypeDescr,FLOC_STORT_LocationDescr
538,000080115735,MW04,5000,CU101597,2024-05-01,B52,Culvert Renewal,PCOM,Practically Completed,4882.50,CU101597,Culvert 626.080km MERD,Reinforced Concrete Box Culvert (RCBC) prior t...,Culverts,Midgee-Rocklands
539,000080115735,MW04,5000,CU101597,2024-05-01,B52,Culvert Renewal,PCOM,Practically Completed,4882.50,CU101597,Culvert 626.080km MERD,Concrete In situ Arch,Culverts,Midgee-Rocklands
828,000080087709,MW04,5000,CU200796,2019-05-29,B52,Culvert Renewal,PCOM,Practically Completed,45443.92,CU200796,Culvert 120.360km BRMI Unknown,Reinforced Concrete Box Culvert (RCBC) prior t...,Culverts,Braeside-Mindi
849,000080088845,MW04,5000,CU200694,2019-05-29,B52,Culvert Renewal,PCOM,Practically Completed,226381.61,CU200694,Culvert 44.380km BMHD Unknown,Corrugated Metal Pipe (CMP),Culverts,Black Mountain-Hatfield
1483,000080091629,MW04,5000,CU201260,2019-03-05,B50,Structures Inspections,PCOM,Practically Completed,12224.56,CU201260,Culvert 29.480km YNYN Unknown,Reinforced Concrete Box Culvert (RCBC) designe...,Culverts,Yukan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9623,000080114567,MW04,5000,CU101375,2023-12-28,RCP,Capital Projects,PCOM,Practically Completed,1881.40,CU101375,Culvert 550.000km YNYN,Reinforced Concrete Box Culvert (RCBC) prior t...,Culverts,Yarwun
9629,000080113715,MW04,5000,CU101534,2024-05-02,B52,Culvert Renewal,PCOM,Practically Completed,687159.72,CU101534,Culvert 591.120km RAMR,Reinforced Concrete Box Culvert (RCBC) prior t...,Culverts,Marmor-Raglan
9666,000080116924,MW04,5000,CU101375,2024-05-02,B52,Culvert Renewal,PCOM,Practically Completed,17443.07,CU101375,Culvert 550.000km YNYN,Reinforced Concrete Box Culvert (RCBC) prior t...,Culverts,Yarwun
9690,000080116705,MW04,5000,CU101219,2024-05-29,B52,Culvert Renewal,PCOM,Practically Completed,26784.65,CU101219,Culvert 540.140km GEMM,Reinforced Concrete Box Culvert (RCBC) prior t...,Culverts,Callemondah
9704,000080116782,MW04,5000,CU101375,2024-05-29,B52,Culvert Renewal,PCOM,Practically Completed,3766.06,CU101375,Culvert 550.000km YNYN,Reinforced Concrete Box Culvert (RCBC) prior t...,Culverts,Yarwun

In [54]:
unique_count = merged_df['FunctionLocation'].nunique()
print(f"Within those 3643 unique FLOCID, only: {unique_count} FLOCID has renewal work order")

Within those 3643 unique FLOCID, only: 52 FLOCID has renewal work order

In [45]:
all_maint_activity_code = merged_df[['MaintenanceActivityType', 'MaintenanceActivityTypeDesc']].drop_duplicates()
all_maint_activity_code

     MaintenanceActivityType     MaintenanceActivityTypeDesc
538                      B52                 Culvert Renewal
1483                     B50          Structures Inspections
4877                     B12    Concrete Bridge Construction
5772                     EPM  Engineering & Proj Mgt Consult
5823                     B02   Drainage Construction/Repairs
5911                     RCP                Capital Projects
6386                     A08                    Gang Support
6546                     C16   Turnout Renew Maj Civil Parts
6770                     C17                    Rail Renewal
6948                     B11   Ancill Structure Constr/Reprs
6954                     C01    Ballast Undercutting Machine
7249                     C58         Level Xing Refurb/Renew
7292                     C20          Bridge Ballast Renewal
8152                     C50               Track Inspections
8184                     C04    Level Xing Construction/Mtce
8462                     C06      Earthworks - Non Formation
8464                     C09                    Rail Renewal
9181                     A09     Consulting/Technical Advice

In [48]:
# Convert CompletionDate column into datetime
merged_df['CompletionDate'] = pd.to_datetime(merged_df['CompletionDate'])
# merged_df['Asset Type'] = merged_df['Asset Type'].fillna('Unknown')

# Calculate all time average
avg_maint_cost_per_activity_type = merged_df.groupby('MaintenanceActivityType').agg(
    Average_ActualTotalCost_All_Time=('ActualTotalCost', 'mean'),
    Sample_Size_All_Time=('MaintenanceActivityType', 'size')
).reset_index()

avg_maint_cost_per_activity_type = pd.merge(avg_maint_cost_per_activity_type, all_maint_activity_code, how='left', left_on='MaintenanceActivityType', right_on='MaintenanceActivityType')
avg_maint_cost_per_activity_type = avg_maint_cost_per_activity_type[['MaintenanceActivityType', 'MaintenanceActivityTypeDesc', 'Average_ActualTotalCost_All_Time', 'Sample_Size_All_Time']]

# Specify the file path and sheet name
file_path = '../xlsx/structure_renewal.xlsx'
sheet_name = 'avg_renewal_cost_per_activity_type'

# Write the DataFrame to a specific sheet in the Excel file
with pd.ExcelWriter(file_path, engine='openpyxl', mode='a') as writer:  # mode='a' for append, use mode='w' to write a new file
    avg_maint_cost_per_activity_type.to_excel(writer, sheet_name=sheet_name, index=False)

avg_maint_cost_per_activity_type

c:\Users\R893859\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

,MaintenanceActivityType,MaintenanceActivityTypeDesc,Average_ActualTotalCost_All_Time,Sample_Size_All_Time
0,A08,Gang Support,3041.920000,4
1,A09,Consulting/Technical Advice,1962.435000,2
2,B02,Drainage Construction/Repairs,445.080000,1
3,B11,Ancill Structure Constr/Reprs,1165.320000,1
4,B12,Concrete Bridge Construction,9927.202727,11
5,B50,Structures Inspections,12224.560000,1
6,B52,Culvert Renewal,78634.046923,52
7,C01,Ballast Undercutting Machine,1686.958571,7
8,C04,Level Xing Construction/Mtce,1297.705000,2
9,C06,Earthworks - Non Formation,155.700000,1
10,C09,Rail Renewal,6145.610000,2
11,C16,Turnout Renew Maj Civil Parts,1249.850000,2
12,C17,Rail Renewal,2634.740000,1
13,C20,Bridge Ballast Renewal,3997.315000,6
14,C50,Track Inspections,1132.227143,7
15,C58,Level Xing Refurb/Renew,1604.076000,5
16,EPM,Engineering & Proj Mgt Consult,238.020000,1
17,RCP,Capital Projects,5671.281538,13

In [37]:
# Convert CompletionDate column into datetime
merged_df['CompletionDate'] = pd.to_datetime(merged_df['CompletionDate'])
# merged_df['Asset Type'] = merged_df['Asset Type'].fillna('Unknown')

# Calculate all time average
grouped_all_time = merged_df.groupby('ASSET_TYPE').agg(
    Average_ActualTotalCost_All_Time=('ActualTotalCost', 'mean'),
    Sample_Size_All_Time=('ASSET_TYPE', 'size')
).reset_index()

grouped_all_time

,ASSET_TYPE,Average_ActualTotalCost_All_Time,Sample_Size_All_Time
0,Concrete In situ Arch,9169.888000,5
1,Concrete Pipe (Unreinforced),12547.560000,1
2,Corrugated Metal Pipe (CMP),46566.636000,5
3,Reinforced Concrete Box Culvert (RCBC) designe...,47482.702593,27
4,Reinforced Concrete Box Culvert (RCBC) prior t...,21757.105714,63
5,Reinforced Concrete Pipe (RCP),79445.355000,18

In [38]:
# Calculate current year average
current_year = datetime.now().year

df_current_year = merged_df[merged_df['CompletionDate'].dt.year == current_year]

grouped_current_year = df_current_year.groupby('ASSET_TYPE').agg(
    Average_ActualTotalCost_current_Year=('ActualTotalCost', 'mean'),
    Sample_Size_current_Year=('ASSET_TYPE', 'size')
).reset_index()

grouped_current_year

,ASSET_TYPE,Average_ActualTotalCost_current_Year,Sample_Size_current_Year
0,Concrete In situ Arch,4081.250000,2
1,Reinforced Concrete Box Culvert (RCBC) designe...,82853.408750,8
2,Reinforced Concrete Box Culvert (RCBC) prior t...,63696.936316,19
3,Reinforced Concrete Pipe (RCP),626273.380000,1

In [39]:
# Calculate last year average
current_year = datetime.now().year
previous_year = current_year - 1

df_previous_year = merged_df[merged_df['CompletionDate'].dt.year == previous_year]

grouped_previous_year = df_previous_year.groupby('ASSET_TYPE').agg(
    Average_ActualTotalCost_Previous_Year=('ActualTotalCost', 'mean'),
    Sample_Size_Previous_Year=('ASSET_TYPE', 'size')
).reset_index()

grouped_previous_year

,ASSET_TYPE,Average_ActualTotalCost_Previous_Year,Sample_Size_Previous_Year
0,Concrete In situ Arch,1275.000000,2
1,Corrugated Metal Pipe (CMP),1612.892500,4
2,Reinforced Concrete Box Culvert (RCBC) designe...,37877.378000,15
3,Reinforced Concrete Box Culvert (RCBC) prior t...,2709.013824,34
4,Reinforced Concrete Pipe (RCP),59393.030769,13

In [41]:
# Calculate last 3 years average
last_3_years_start = current_year - 3

df_last_3_years = merged_df[(merged_df['CompletionDate'].dt.year >= last_3_years_start) & (merged_df['CompletionDate'].dt.year != current_year)]

grouped_last_3_years = df_last_3_years.groupby('ASSET_TYPE').agg(
    Average_Last_3_Years=('ActualTotalCost', 'mean'),
    Sample_Size_Last_3_Years=('ASSET_TYPE', 'size')
).reset_index()

grouped_last_3_years

,ASSET_TYPE,Average_Last_3_Years,Sample_Size_Last_3_Years
0,Concrete In situ Arch,12562.313333,3
1,Concrete Pipe (Unreinforced),12547.560000,1
2,Corrugated Metal Pipe (CMP),1612.892500,4
3,Reinforced Concrete Box Culvert (RCBC) designe...,33721.174444,18
4,Reinforced Concrete Box Culvert (RCBC) prior t...,2674.696512,43
5,Reinforced Concrete Pipe (RCP),47279.000588,17

In [42]:
# Calculate last 5 years average
last_5_years_start = current_year - 5

df_last_5_years = merged_df[(merged_df['CompletionDate'].dt.year >= last_5_years_start) & (merged_df['CompletionDate'].dt.year != current_year)]

grouped_last_5_years = df_last_5_years.groupby('ASSET_TYPE').agg(
    Average_Last_5_Years=('ActualTotalCost', 'mean'),
    Sample_Size_Last_5_Years=('ASSET_TYPE', 'size')
).reset_index()

grouped_last_5_years

,ASSET_TYPE,Average_Last_5_Years,Sample_Size_Last_5_Years
0,Concrete In situ Arch,12562.313333,3
1,Concrete Pipe (Unreinforced),12547.560000,1
2,Corrugated Metal Pipe (CMP),46566.636000,5
3,Reinforced Concrete Box Culvert (RCBC) designe...,32589.773684,19
4,Reinforced Concrete Box Culvert (RCBC) prior t...,3646.724318,44
5,Reinforced Concrete Pipe (RCP),47279.000588,17

In [43]:
result_df = pd.merge(grouped_all_time, grouped_current_year, on='ASSET_TYPE', how='left')
result_df = pd.merge(result_df, grouped_previous_year, on='ASSET_TYPE', how='left')
result_df = pd.merge(result_df, grouped_last_3_years, on='ASSET_TYPE', how='left')
result_df = pd.merge(result_df, grouped_last_5_years, on='ASSET_TYPE', how='left')

# Specify the file path and sheet name
file_path = '../xlsx/structure_renewal.xlsx'
sheet_name = 'avg_renewal_cost_cost'

# Write the DataFrame to a specific sheet in the Excel file
with pd.ExcelWriter(file_path, engine='openpyxl', mode='a') as writer:  # mode='a' for append, use mode='w' to write a new file
    result_df.to_excel(writer, sheet_name=sheet_name, index=False)

result_df

,ASSET_TYPE,Average_ActualTotalCost_All_Time,Sample_Size_All_Time,Average_ActualTotalCost_current_Year,Sample_Size_current_Year,Average_ActualTotalCost_Previous_Year,Sample_Size_Previous_Year,Average_Last_3_Years,Sample_Size_Last_3_Years,Average_Last_5_Years,Sample_Size_Last_5_Years
0,Concrete In situ Arch,9169.888000,5,4081.250000,2.0,1275.000000,2.0,12562.313333,3,12562.313333,3
1,Concrete Pipe (Unreinforced),12547.560000,1,NaN,NaN,NaN,NaN,12547.560000,1,12547.560000,1
2,Corrugated Metal Pipe (CMP),46566.636000,5,NaN,NaN,1612.892500,4.0,1612.892500,4,46566.636000,5
3,Reinforced Concrete Box Culvert (RCBC) designe...,47482.702593,27,82853.408750,8.0,37877.378000,15.0,33721.174444,18,32589.773684,19
4,Reinforced Concrete Box Culvert (RCBC) prior t...,21757.105714,63,63696.936316,19.0,2709.013824,34.0,2674.696512,43,3646.724318,44
5,Reinforced Concrete Pipe (RCP),79445.355000,18,626273.380000,1.0,59393.030769,13.0,47279.000588,17,47279.000588,17

In [149]:
all_category_type_df = pd.DataFrame(df2['Category'].unique(), columns=['Category'])

merged_df2 = pd.merge(df1, df2, how='left', left_on='FunctionLocation', right_on='FuncLocID')

# Convert CompletionDate column into datetime
merged_df2['CompletionDate'] = pd.to_datetime(merged_df2['CompletionDate'])

# Calculate all time average
grouped_all_time2 = merged_df2.groupby('Category').agg(
    Average_ActualTotalCost_All_Time=('ActualTotalCost', 'mean'),
    Sample_Size_All_Time=('Category', 'size')
).reset_index()

# Calculate last year average
current_year = datetime.now().year
previous_year = current_year - 1

df_previous_year2 = merged_df2[merged_df2['CompletionDate'].dt.year == previous_year]

grouped_previous_year2 = df_previous_year2.groupby('Category').agg(
    Average_ActualTotalCost_Previous_Year=('ActualTotalCost', 'mean'),
    Sample_Size_Previous_Year=('Category', 'size')
).reset_index()

# Calculate last 3 years average
last_3_years_start = current_year - 3

df_last_3_years2 = merged_df2[(merged_df2['CompletionDate'].dt.year >= last_3_years_start) & (merged_df2['CompletionDate'].dt.year != current_year)]

grouped_last_3_years2 = df_last_3_years2.groupby('Category').agg(
    Average_Last_3_Years=('ActualTotalCost', 'mean'),
    Sample_Size_Last_3_Years=('Category', 'size')
).reset_index()

# Calculate last 5 years average
last_5_years_start = current_year - 5

df_last_5_years2 = merged_df2[(merged_df2['CompletionDate'].dt.year >= last_5_years_start) & (merged_df2['CompletionDate'].dt.year != current_year)]

grouped_last_5_years2 = df_last_5_years2.groupby('Category').agg(
    Average_Last_5_Years=('ActualTotalCost', 'mean'),
    Sample_Size_Last_5_Years=('Category', 'size')
).reset_index()

# Join 3 df into 1
result_df2 = pd.merge(grouped_all_time2, grouped_previous_year2, on='Category', how='left')
result_df2 = pd.merge(result_df2, grouped_last_3_years2, on='Category', how='left')
result_df2 = pd.merge(result_df2, grouped_last_5_years2, on='Category', how='left')

result_df2 = pd.merge(all_category_type_df, result_df2, on='Category', how='left')
# result_df2.to_pickle("../pkl/average_renewal_cost.pkl")

result_df2

,Category,Average_ActualTotalCost_All_Time,Sample_Size_All_Time,Average_ActualTotalCost_Previous_Year,Sample_Size_Previous_Year,Average_Last_3_Years,Sample_Size_Last_3_Years,Average_Last_5_Years,Sample_Size_Last_5_Years
0,Control & Electrical,36221.359314,306,41017.736019,103,33382.607220,241,32578.600161,249
1,Track & Ballast,80866.122428,1948,111122.624670,621,73371.237494,1221,66776.755003,1475
2,Structure & Civils,23028.663120,250,10859.298833,120,12222.082593,189,14059.584948,194